{% extends "base.html" %}
{% block content %}

    <ol class="breadcrumb" id="s-lib-bc-list">
        <li id="s-lib-bc-customer">
        <a href="http://library.bc.edu" title="Libraries">Libraries
        </a>
        </li>
        <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits" title="Library Exhibits">Library Exhibits
        </a>
        <li id="s-lib-bc-site">
            <a href="http://library.bc.edu/exhibits/tml" title="Theology and Ministry Library Exhibit Archives">Theology and Ministry Library Exhibit Archives</a></li>
    </ol>

<div id="exhibit" class="archives">

    <div class="blackband tml">
        <div class="bandcenter">
            <h2>Theology and Ministry Library Exhibit Archives</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lacinia venenatis dapibus. Fusce a leo in ligula vestibulum consectetur sit amet vitae dolor. Morbi varius mollis lorem ut congue. Maecenas sed lorem tellus. In urna ligula, fringilla sit amet neque at, lacinia gravida dolor.</p>
        </div>
    </div>

    <div class="latest_exhibit">

        <div class="left">
            <h3>Gallery Spaces</h3>

            <ul>
                <li><a href="../bapst">Bapst Library</a></li>
                <li><a href="../burns">Burns Library</a></li>
                <li class="target">Theology and Ministry Library</li>
                <li><a href="../lvl1">O'Neill Level One</a></li>
                <li><a href="../lvl3">O'Neill Level Three</a></li>
                <li><a href="../reading">O'Neill Reading Room</a></li>
                <li><a href="../backwall">O'Neill Reading Room Back Wall</a></li>
                <li><a href="../lobby">O'Neill Lobby</a></li>
                <li><a href="../stokes">History Dept, Stokes Hall</a></li>
            </ul>
        </div>

        <div class="right">
            <h3>Past Exhibits</h3>

<!-- 2016 files-->
    <ul>
            <div class="holdhead">
                <h4>2016</h4>
            </div>

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.location == "tml" %}
                   
                    {% if article.date|strftime('%Y') == "2016" %}
                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                            {% if article.location == "tml" %}

                                <li class="holder">

                                    <div class="frame">
                                        <a href="../../{{ article.url }}">
                                        <img src="/theme/img/exhibits/tml/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                            {% endif %}                        
                        {% endif %}
                    {% endif %}              
                {% endfor %}
            {% endif %}

    </ul>

<!-- 2015 files-->
    <ul>
            <div class="holdhead">
                <h4>2015</h4>
            </div>

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.location == "tml" %}
                   
                    {% if article.date|strftime('%Y') == "2015" %}
                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "tml" %}

                                <li class="holder">

                                    <div class="frame">
                                        <a href="../../{{ article.url }}">
                                        <img src="/theme/img/exhibits/tml/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                            {% endif %}                        
                        {% endif %}
                    {% endif %}              
                {% endfor %}
            {% endif %}

    </ul>

<!-- 2014 files-->
    <ul>
            <div class="holdhead">
                <h4>2014</h4>
            </div>

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.location == "tml" %}
                   
                    {% if article.date|strftime('%Y') == "2014" %}
                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "tml" %}

                                <li class="holder">

                                    <div class="frame">
                                        <a href="../../{{ article.url }}">
                                        <img src="/theme/img/exhibits/tml/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                            {% endif %}                        
                        {% endif %}
                    {% endif %}              
                {% endfor %}
            {% endif %}

    </ul>

<!-- 2013 files-->
    <ul>
            <div class="holdhead">
                <h4>2013</h4>
            </div>

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.location == "tml" %}
                   
                    {% if article.date|strftime('%Y') == "2013" %}
                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "tml" %}

                                <li class="holder">

                                    <div class="frame">
                                        <a href="../../{{ article.url }}">
                                        <img src="/theme/img/exhibits/tml/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                            {% endif %}                        
                        {% endif %}
                    {% endif %}              
                {% endfor %}
            {% endif %}

    </ul>


<!-- GALLERIES BELONG ABOVE THIS POINT -->
        </div>

    </div>

</div>
{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}