{% extends "base.html" %}
{% block content %}

{% if article.category == "news" %}

<div class="article_page">


<h3>{{ article.title }}</h3>

	<div class="article_meta">
	{{ article.date|strftime('%B %d, %Y') }}
    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}" >
	</div>

	<div class="article_content">
        <div>{{ article.content }}</div>
    </div>


    {{ articles_previous_page }}

</div>
{% endif %}

{% if article.category == "rabbits" %}
{% endif %}

{% if article.category == "other-rodents" %}
{% endif %}

{% endblock %}