{% if article.category.name == "facpub" %}
{% extends "facpub_base.html" %}

{% else %}
{% extends "base.html" %}
{% endif %}
{% block content %}


<!-- TEMPLATE FOR NEWS ITEMS GOES HERE. THIS WILL NOT BE USED VERY OFTEN, AS MOST NEWS LINKS OUT -->
{% if article.category.name == "news" %}

	<ol class="breadcrumb" id="s-lib-bc-list">
		<li id="s-lib-bc-customer">
		<a href="http://library.bc.edu" title="Libraries">Libraries
		</a>
		</li>
		<li id="s-lib-bc-site">
		<a href="http://library.bc.edu/news" title="Library News Archives">Library News & Announcements 
		</a>
		</li>
	</ol>

	<div class="article_page">


		<h3>{{ article.title }}</h3>
			<em>{{ article.date|strftime('%B %d, %Y') }}</em>
				
			<div class="article_content">

		    <!--<img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}" style="float: left;">-->
				<div>{{ article.content }}</div>
			</div>

		<div class="morenews">
		
		<hr>

		<h4>More News From the Boston College Libraries</h4>	

		  {% if articles %}
		           
		        {% set count = 0 %}
		        {% for article in articles[:15] if article.category|selectattr("news", "announcements") %}
		            
		                    {% set count = count + 1 %}
		                    {% if count < 12 %}
		               
		                        {% if article.category.name == "news" %}
		                    
		                        <div class="news_listing">
		                        	<span class="archive_date">{{ article.date|strftime('%B %d, %Y') }}</span>
		                            <h5><a href="{{ article.destination }}">{{ article.title }}</a></h5>
		                                
		                        </div>
		                 
		                        {% endif %}
		                 
		                        {% if article.category.name == "announcements" %}

		                        <div class="news_listing">
		                         	<span class="archive_date">{{ article.date|strftime('%B %d, %Y') }}</span>
		                            <h5><a href="../../../../{{ article.url }}">{{ article.title }}</a></h5>
		                        
		                        </div>

		                        {% endif %}

		                    {% endif %}                

		        {% endfor %}
		          
		    {% endif %}

		</div>

	</div>
{% endif %}
<!-- END NEWS -->

<!-- TEMPLATE FOR ANNOUNCEMENTS -->
{% if article.category.name == "announcements" %}

	<ol class="breadcrumb" id="s-lib-bc-list">
		<li id="s-lib-bc-customer">
		<a href="http://library.bc.edu" title="Libraries">Libraries
		</a>
		</li>
		<li id="s-lib-bc-site">
		<a href="http://library.bc.edu/news" title="Library News Archives">Library News & Announcements 
		</a>
		</li>
	</ol>

	<div class="article_page ">

			<h3>{{ article.title }}</h3>
			<em>{{ article.date|strftime('%B %d, %Y') }}</em>
				
			<div class="article_content">
				<div>{{ article.content }}</div>
			</div>

				<span class="expired{{ article.expired }}">This news page is for archival purposes only. The content posted above is no longer available.
				</span>

		<div class="morenews">
		
		<hr>

		<h4>More News From the Boston College Libraries</h4>	

		  {% if articles %}
		           
		        {% set count = 0 %}
		        {% for article in articles[:15] if article.category|selectattr("news", "announcements") %}
		            
		                    {% set count = count + 1 %}
		                    {% if count < 12 %}
		               
		                        {% if article.category.name == "news" %}
		                    
		                        <div class="news_listing">
		                        	<span class="archive_date">{{ article.date|strftime('%B %d, %Y') }}</span>
		                            <h5><a href="{{ article.destination }}">{{ article.title }}</a></h5>
		                                
		                        </div>
		                 
		                        {% endif %}
		                 
		                        {% if article.category.name == "announcements" %}

		                        <div class="news_listing">
		                         	<span class="archive_date">{{ article.date|strftime('%B %d, %Y') }}</span>
		                            <h5><a href="../../../../{{ article.url }}">{{ article.title }}</a></h5>
		                        
		                        </div>

		                        {% endif %}

		                    {% endif %}                

		        {% endfor %}
		          
		    {% endif %}

		</div>
	</div>
{% endif %}
<!-- END ANNOUNCEMENTS -->


<!-- TEMPLATE FOR EXHIBITS -->
{% if article.category.name == "exhibits" %}
	
    <ol class="breadcrumb" id="s-lib-bc-list">
        <li id="s-lib-bc-customer">
        <a href="http://library.bc.edu" title="Libraries">Libraries
        </a>
        </li>
        <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits" title="Library Exhibits">Library Exhibits
        </a>
        </li>

      	{% if article.location == "burns" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/burns" title="Burns Library Exhibit Archives">Burns Library Exhibit Archives</a></li>

		{% endif %}

		{% if article.location == "tml" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/tml" title="Theology and Ministry Library Exhibit Archives">Theology and Ministry Library Exhibit Archives</a></li>

		{% endif %}
			
		{% if article.location == "lvl1" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/lvl1" title="O'Neill Level One Gallery Archives">O'Neill Level One Gallery Archives</a></li>

		{% endif %}

		{% if article.location == "lvl3" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/lvl3" title="O'Neill Level Three Gallery Archives">O'Neill Level Three Gallery Archives</a></li>

		{% endif %}

		{% if article.location == "reading" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/reading" title="O'Neill Reading Room Archives">O'Neill Reading Room Archives</a></li>
		{% endif %}

		{% if article.location == "backwall" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/backwall" title="O'Neill Reading Room Back Wall Archives">O'Neill Reading Room Back Wall Archives</a></li>

		{% endif %}
			
		{% if article.location == "lobby" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/lobby" title="O'Neill Lobby Archives">O'Neill Lobby Archives</a></li>

		{% endif %}
			
		{% if article.location == "stokes" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/stokes" title="History Dept, Stokes Hall Archives">History Dept, Stokes Hall Archives</a></li>
		{% endif %}
			
		{% if article.location == "bapst" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/bapst" title="Bapst Library Exhibit Archives">Bapst Library Exhibit Archives</a></li>

		{% endif %}

		{% if article.location == "bapstarchive" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/bapst" title="Bapst Library Exhibit Archives">Bapst Library Exhibit Archives</a></li>

		{% endif %}

		{% if article.location == "virtual" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/virtual" title="Burns Virtual Exhibits">Burns Virtual Exhibits</a></li>
			
		{% endif %}

		{% if article.location == "tip" %}
		
			<li id="s-lib-bc-site">
			<a href="http://library.bc.edu/exhibits/tip" title="Tip O'Neill Exhibit">Tip O'Neill Exhibit</a></li>

		{% endif %}

    </ol>

	<div class="exhibit_page">

	<!-- THIS IS THE LOGIC TO CHANGE THE LOCATION OF THE EXHIBIT -->
	<div class="blackband {{ article.location }}">
			
			<div class="bandcenter">

			{% if article.location == "burns" %}
		
			<h2>Burns Library Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../burns" class="arrow">Return to the Burns Library Archives</a></p>

			{% endif %}

			{% if article.location == "tml" %}
		
			<h2>Theology and Ministry Library Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../tml" class="arrow">Return to the TML Archives</a></p>

			{% endif %}
			
			{% if article.location == "lvl1" %}
		
			<h2>O'Neill Level One Gallery Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../lvl1" class="arrow">Return to the O'Neill Level One Gallery Archives</a></p>

			{% endif %}

			{% if article.location == "lvl3" %}
		
			<h2>O'Neill Level Three Gallery Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../lvl3" class="arrow">Return to the O'Neill Level Three Gallery Archives</a></p>

			{% endif %}

			{% if article.location == "reading" %}
		
			<h2>O'Neill Reading Room</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../reading" class="arrow">Return to the O'Neill Reading Room Archives</a></p>

			{% endif %}

			{% if article.location == "backwall" %}
		
			<h2>O'Neill Reading Room Back Wall</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../backwall" class="arrow">Return to the O'Neill Reading Room Back Wall Archives</a></p>

			{% endif %}
			
			{% if article.location == "lobby" %}
		
			<h2>O'Neill Library Level Three Lobby</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../lobby" class="arrow">Return to the O'Neill Library Level Three Lobby Archives</a></p>

			{% endif %}
			
			{% if article.location == "stokes" %}
		
			<h2>History Department, Stokes Hall</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../stokes" class="arrow">Return to the History Department, Stokes Hall Archives</a></p>

			{% endif %}
			
			{% if article.location == "bapsts" %}
		
			<h2>Bapst Library Archived Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			<a href="../../../bapst" class="arrow">Return to the Bapst Library Archives</a></p>

			{% endif %}

			{% if article.location == "virtual" %}
		
			<h2>Burns Library Virtual Exhibits</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />
			
			{% endif %}

			{% if article.location == "tip" %}
		
			<h2>Tip O'Neill Exhibit</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate malesuada ullamcorper. <br />

			{% endif %}
			</div>
	</div>

	<div id="individualpage" class="{{ article.style }}">

		<div class="exhibittitle">
			<h3>
				{{ article.title }} <br />
				<span class="subtitle">{{ article.subtitle }}</span>
			</h3>

			<p><span class="date"><em>{{ article.date_range }}</em></span><br />
			<span class="sponsor">{{ article.sponsor }}</span>
			</p>
		
		</div>

				<div class="article_content">
					
					<div class="poster">
					<img src="/theme/img/exhibits/{{ article.location }}/{{ article.image }}" alt="{{ article.image_alt }}" >
					</div>

					<div class="text">
				        {{ article.content }}
				    </div>

			    </div>

				<!-- THIS CONTENT EXIST IN THE OFF CHANCE THAT WE NEED TEXT ON TOP OF POSTER -->
			    <div class="article_content_two">
					
					<div class="text">
				        {{ article.content }}
				    </div>

					<div class="poster">
					<img src="/theme/img/exhibits/{{ article.location }}/{{ article.image }}" alt="{{ article.image_alt }}" >
					</div>

			    </div>

		</div>

	</div>
{% endif %}
<!-- END EXHIBITS -->

<!-- TEMPLATE FOR FACULTY PUBLICATION HIGHLIGHTS  -->
{% if article.category.name == "facpub" %}

	<div class="article_page">

		<div class="youtube">

			<div id="titleauthor">
				<h3>{{ article.title }}</h3>
				{{ article.by }} by {{ article.author_firstname }} {{ article.author_lastname }}
			</div>

			<div class="video-container">
				<iframe width="640" height="360" src="{{ article.youtube }}" frameborder="0" allowfullscreen></iframe>
			</div>

		</div>

			<div class="article_content">

				<div class="row">
					
					<div class="left">
			        	<div>{{ article.content }}</div>
			        </div>

			        <div class="right">
							<img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">

							<p><strong>{{ article.author_firstname }} {{ article.author_lastname }}</strong> <br />
							<em>{{ article.author_position }}</em></p>
					

							<p class="{{ article.showsample_pages }}"><a href="/theme/img/facpub/{{ article.sample_pages }}" class="sample">View sample pages</a></p>
							
							<p><a href="{{ article.book_location }}" class="location">Find this item</a></p>
					</div>
				</div>
			</div>

		    <div class="librarian">
		    	<!--For further information about research in this area, contact <a href="mailto:{{ article.librarian_email }}">{{ article.librarian_name }}</a>,
		    	<em>{{ article.librarian_position }}</em>.-->
		    	For further information about research in this area please visit the <a href="http://libguides.bc.edu/ask-a-librarian/contact">Subject Librarian portal</a>.
		    </div>

	      <!-- <div id="socialmedia">
            <ul>
            <li><a href="http://library.bc.edu/feeds/bc-libraries.rss.xml" title="News RSS feed" class="mediablock" id="media_news"></a></li>
            <li><a href="https://www.facebook.com/bostoncollegelibraries" title="Boston College Library Facebook Link" class="mediablock" id="media_facebook"></a></li>
            <li><a href="https://www.flickr.com/photos/bc-burnslibrary/" title="Burns Library Flickr Page" class="mediablock" id="media_flickr"></a></li>
            <li><a href="https://twitter.com/bclibraries" title="Boston College Librarie's on Twitter" class="mediablock" id="media_twitter"></a></li>
            <li><a href="https://www.youtube.com/user/BostonCollegeLib" title="Boston College on YouTube" class="mediablock" id="media_youtube"></a></li>
            </ul>

            </div>-->

	</div>

{% endif %}
<!--END FACPUB -->



{% endblock %}
