{# Used to render all article types (news, announcements, exhibits, facpubs, etc. #}
{# Article type templates are in the 'article-types' directory #}

{% if article.category.name == "facpub" %}
	{% extends "facpub_base.html" %}
{% else %}
	{% extends "base.html" %}
{% endif %}

{% block content %}

	{% if article.category.name == "news" %}
		{% include 'article-types/news.html' %}
	{% endif %}


	{% if article.category.name == "announcements" %}
		{% include 'article-types/announcements.html' %}
	{% endif %}


	{% if article.category.name == "exhibits" %}
		{% include 'article-types/exhibits.html' %}
	{% endif %}

	{% if article.category.name == "facpub" %}
		{% include 'article-types/facpub.html' %}
	{% endif %}

{% endblock %}
