<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="/favicon.ico?v=0" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!--link rel="stylesheet" href="/theme/css/banner.css"/-->
    <!--link rel="stylesheet" href="/theme/css/bootstrap.css"/-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="/theme/css/chosen.css"/-->
    <link rel="stylesheet" href="/theme/bcbento/css/app.css"/>
    <!--link rel="stylesheet" href="/theme/css/style.css?version=2017060501"/-->
    <link rel="stylesheet" href="/theme/css/refresh.css?version=20170728"/>
    <link rel="stylesheet" href="/theme/bcbento/css/local.css"/>
    <link rel="stylesheet" href="/theme/css/icomoon.css"/>
    <link rel="stylesheet" href="/theme/css/notification.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="/theme/js/bootstrap-hover-dropdown.min.js"></script-->
    <!--script type="text/javascript" src="/theme/js/jquery.hoverIntent.minified.js"></script-->
    <!--script type="text/javascript" src="/theme/js/chosen.jquery.min.js?version=1.1.0"></script-->
    <!--script type="text/javascript" src="//api2.libanswers.com/1.0/widgets/5468" async></script-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    {% block pagestyles %}
    {% endblock %}

    <![endif]-->

    <!-- SCRIPT TO TURN SIDE NAVIGATION INTO DROPDOWNS ON MOBILE.  DO NOT REMOVE.  -->
    <!--script>
    /* DOM ready*/
    $(function() {
        var myNavID = "nav";
        /* For each nav menu, create a corresponding drop down menu */
        $("nav.drop-down").each(function(){
            if ($(this).attr("id")) {
                myNavID = "nav#" + $(this).attr("id");
            }

            //console.log("navID " + myNavID);

            sel = $(this).find(".nav-mobile");

            if (sel.length == 0){
                /* Create the dropdown base */
                $("<select class='nav-mobile' />").appendTo(myNavID);
                sel = $(this).find(".nav-mobile");
            }

            /* Create default option "Go to..." */
            $("<option />", {
                "selected": "selected",
                "value"   : "",
                "text"    : "Go to..."
            }).appendTo(sel);

            /* Populate dropdown with menu items */
            $(myNavID + " a").each(function() {
                var el = $(this);
                var myText = el.text();
                if ($(el).parents(".s-lg-subtab-ul").length > 0) {
                    myText = "> " + el.text();
                }
                $("<option />", {
                    "value"   : el.attr("href"),
                    "text"      : myText
                }).appendTo(sel);
            });

            /* To make dropdown actually work
            // To make more unobtrusive: http://css-tricks.com/4064-unobtrusive-page-changer/ */
            $(sel).change(function() {
                window.location = $(this).find("option:selected").val();
            });
        });
    });
    </script-->

    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Library",
      "name" : "Boston College Libraries",
      "alternateName": "Boston College University Libraries",
      "url": "http://library.bc.edu",
      "image" : "http://s3.amazonaws.com/libapps/accounts/3908/images/bapst-banner.png",
      "logo" : "http://library.bc.edu/theme/img/title_sq_nomotto_72dpi.png",
      "telephone" : "617-552-4470",
      "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "140 Commonwealth Avenue",
        "addressLocality" : "Chestnut Hill",
        "addressRegion" : "MA",
        "postalCode" : "02467"
      },
      "sameAs": [
        "https://www.facebook.com/bostoncollegelibraries",
        "https://twitter.com/bclibraries",
        "https://www.youtube.com/user/BostonCollegeLib",
        "http://libguides.bc.edu/publications",
        "https://www.flickr.com/photos/bc-burnslibrary/"
      ],
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://library.bc.edu/search/?any={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

    <!--
      <PageMap>
        <DataObject type="thumbnail">
          <Attribute name="src" value="https://library.bc.edu/theme/img/library_thumbnail.png"/>
          <Attribute name="width" value="225"/>
          <Attribute name="height" value="150"/>
        </DataObject>
      </PageMap>
    -->
    {% endblock head %}
</head>

<body id="index" class="s-lg-guide-body mainhomepage homepagerefresh">

    <!--<div id="downtime-notification">
        Downtime message here
        <a id="close">[close]</a>
    </div>-->

    <a href="#midlevelcontainer" class="accessibility-text">Skip to main content</a>

    {# modular bc maroon header #}
    {% include 'bclib-header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer-lib.html' %}

    {% include 'footer-bc.html' %}

</body>
</html>
