<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>

    <link rel="shortcut icon" href="/favicon.ico?v=0" />

    <!--link rel="stylesheet" href="/theme/css/banner.css"/-->
    <!--link rel="stylesheet" href="/theme/css/bootstrap.css"/-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="/theme/css/chosen.css"/-->
    <link rel="stylesheet" href="/theme/bcbento/css/app.css"/>
    <!--link rel="stylesheet" href="/theme/css/style.css?version=2017060501"/-->
    <link rel="stylesheet" href="/theme/css/refresh.css?version=20170728"/>
    <link rel="stylesheet" href="/theme/bcbento/css/local.css"/>
    <link rel="stylesheet" href="/theme/css/icomoon.css"/>
    <link rel="stylesheet" href="/theme/css/notification.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="/theme/js/bootstrap-hover-dropdown.min.js"></script-->
    <!--script type="text/javascript" src="/theme/js/jquery.hoverIntent.minified.js"></script-->
    <!--script type="text/javascript" src="/theme/js/chosen.jquery.min.js?version=1.1.0"></script-->
    <!--script type="text/javascript" src="//api2.libanswers.com/1.0/widgets/5468" async></script-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    {% block pagestyles %}
    {% endblock %}

    <![endif]-->

    <!-- SCRIPT TO TURN SIDE NAVIGATION INTO DROPDOWNS ON MOBILE.  DO NOT REMOVE.  -->
    <!--script>
    /* DOM ready*/
    $(function() {
        var myNavID = "nav";
        /* For each nav menu, create a corresponding drop down menu */
        $("nav.drop-down").each(function(){
            if ($(this).attr("id")) {
                myNavID = "nav#" + $(this).attr("id");
            }

            //console.log("navID " + myNavID);

            sel = $(this).find(".nav-mobile");

            if (sel.length == 0){
                /* Create the dropdown base */
                $("<select class='nav-mobile' />").appendTo(myNavID);
                sel = $(this).find(".nav-mobile");
            }

            /* Create default option "Go to..." */
            $("<option />", {
                "selected": "selected",
                "value"   : "",
                "text"    : "Go to..."
            }).appendTo(sel);

            /* Populate dropdown with menu items */
            $(myNavID + " a").each(function() {
                var el = $(this);
                var myText = el.text();
                if ($(el).parents(".s-lg-subtab-ul").length > 0) {
                    myText = "> " + el.text();
                }
                $("<option />", {
                    "value"   : el.attr("href"),
                    "text"      : myText
                }).appendTo(sel);
            });

            /* To make dropdown actually work
            // To make more unobtrusive: http://css-tricks.com/4064-unobtrusive-page-changer/ */
            $(sel).change(function() {
                window.location = $(this).find("option:selected").val();
            });
        });
    });
    </script-->

    <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Library",
      "name" : "Boston College Libraries",
      "alternateName": "Boston College University Libraries",
      "url": "http://library.bc.edu",
      "image" : "http://s3.amazonaws.com/libapps/accounts/3908/images/bapst-banner.png",
      "logo" : "http://library.bc.edu/theme/img/title_sq_nomotto_72dpi.png",
      "telephone" : "617-552-4470",
      "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "140 Commonwealth Avenue",
        "addressLocality" : "Chestnut Hill",
        "addressRegion" : "MA",
        "postalCode" : "02467"
      },
      "sameAs": [
        "https://www.facebook.com/bostoncollegelibraries",
        "https://twitter.com/bclibraries",
        "https://www.youtube.com/user/BostonCollegeLib",
        "http://libguides.bc.edu/publications",
        "https://www.flickr.com/photos/bc-burnslibrary/"
      ],
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://library.bc.edu/search/?any={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

    <!--
      <PageMap>
        <DataObject type="thumbnail">
          <Attribute name="src" value="https://library.bc.edu/theme/img/library_thumbnail.png"/>
          <Attribute name="width" value="225"/>
          <Attribute name="height" value="150"/>
        </DataObject>
      </PageMap>
    -->
    {% endblock head %}
</head>

<body id="index" class="s-lg-guide-body mainhomepage homepagerefresh">

    <!--<div id="downtime-notification">
        Downtime message here
        <a id="close">[close]</a>
    </div>-->

    <a href="#midlevelcontainer" class="accessibility-text">Skip to main content</a>

    {# modular bc maroon header #}
    {% include 'bclib-header.html' %}

    <!-- HEADER START -->
    <div class="container-fluid" id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">mega menu</div>
                <div class="col-md-12">search box</div>
                <div class="col-md-12">caption link</div>
            </div>
        </div>
    </div>
    <!-- HEADER END -->

    <!-- DB RG HOURS BOX START -->
    <div class="container" id="db-rg-hours">
        <div class="row">
            <div class="col-md-4">
                <h3><a href="#">Databases</a></h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">Cras justo odio</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3><a href="#">Start Your Research</a></h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">Cras justo odio</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3><a href="#">Hours</a></h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">Cras justo odio</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- DB RG HOURS BOX END -->

    <!-- QUICK LINKS START -->
    <div class="container-fluid" id="quick-links">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#">Study Rooms</a>
                    <p>Reserve a study room in O'Neill Library</p>
                </div>
                <div class="col-md-2">
                    <a href="#">Ask A Librarian</a>
                    <p>Get help with your research</p>
                </div>
                <div class="col-md-2">
                    <a href="#">Interlibrary Loan</a>
                    <p>Request books, articles, and more from other libraries</p>
                </div>
                <div class="col-md-2">
                    <a href="#">Worldcat</a>
                    <p>Search libraries worldwide</p>
                </div>
                <div class="col-md-2">
                    <a href="#">Course Reserves</a>
                    <p>Find readings for your classes</p>
                </div>
                <div class="col-md-2">
                    <a href="#">Refworks</a>
                    <p>Save and manage citations</p>
                </div>
            </div>
        </div>
    </div>
    <!-- QUICK LINKS END -->

    <!-- NEWS START -->
    <div class="container" id="news">
        <div class="row">
            <div class="col-md-12"><h3><a href="">News</a></h3></div>
            <div class="col-md-3">news 1</div>
            <div class="col-md-3">news 2</div>
            <div class="col-md-3">news 3</div>
            <div class="col-md-3">news 4</div>
        </div>
    </div>
    <!-- NEWS END -->

    <!-- DS HIGHLIGHT START -->
    <div class="container-fluid" id="ds-highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Burns Antiphoner</div>
            </div>
        </div>
    </div>
    <!-- DS HIGHLIGHT END -->

    <!-- SCHOLARSHIP-AT-BC START -->
    <div class="container" id="scholarship">
        <div class="row">
            <div class="col-md-12"><h3>Scholarship at BC</h3></div>
            <div class="col-md-6">
                <h4><a href="#">eScholarship</a></h4>
                <p>A repository of the scholarly and creative work of Boston Collge</p>
            </div>
            <div class="col-md-6">
                <h4><a href="#">Dataverse</a></h4>
                <p>A place for BC researchers to share, preserve, explore, and analyze their research data</p>
            </div>
        </div>
    </div>
    <!-- SCHOLARSHIP-AT-BC END -->

    <!-- EXHIBIT HIGHLIGHT START -->
    <div class="container-fluid" id="exhibit-highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Some Exhibit</div>
            </div>
        </div>
    </div>
    <!-- EXHIBIT HIGHLIGHT END -->

    <!-- FACPUB START -->
    <div class="container" id="facpub">
        <div class="row">
            <div class="col-md-12"><h3><a href="">Latest Faculty Publication Highlight</a></h3></div>
            <div class="col-md-5">video</div>
            <div class="col-md-2">book cover</div>
            <div class="col-md-5">more text</div>
        </div>
    </div>
    <!-- FACPUB END -->

    <!-- DIGITAL COLLECTIONS HIGHLIGHT START -->
    <div class="container-fluid" id="digcol-highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Some Digital Collections</div>
            </div>
        </div>
    </div>
    <!-- DIGITAL COLLECTIONS HIGHLIGHT END -->

    <!-- LIBRARY FOOTER START -->
    <div class="container-fluid" id="lib-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Library footer</div>
            </div>
        </div>
    </div>
    <!-- LIBRARY FOOTER END -->

    <!-- BC FOOTER START -->
    <div class="container-fluid" id="bc-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">BC footer</div>
            </div>
        </div>
    </div>
    <!-- BC FOOTER END -->

    

        {# % block content % #}
        {# % endblock % #}
            

        <!-- 
            Temporary location for inactive scripts
        -->

        <!--script type="text/javascript" src="/theme/js/libraryinfo.js"></script-->

        <!-- /#contentinfo -->
        <!-- MEGA MENU SCRIPT -->
        <!--script type="text/javascript" src="/theme/js/megamenu.js"></script-->

        <!-- Control search tab switch. -->
        <!--script>
        $(function () {
            $('#block_search *[role=presentation]').click(
                function() {
                    var current_text = $('#block_search .tab-pane.active input[type=text]').val();
                    $('#block_search .tab-pane input[type=text]').val(current_text);
                }
            );
        });
        </script-->

        <!-- Script to block spam-bots. Requires JQuery. -->
        <!--script src="/theme/js/nospam.js"></script-->
        <!--script src="/theme/js/libhours.js"></script-->
        <!--script src="/theme/bcbento/js/typeahead.bundle.min.js"></script-->
        <!--script src="/theme/bcbento/js/bclib-typeahead.js"></script-->

        <!-- JS for expanding search bar 
        <script src="/theme/js/classie.js"></script>
        <script src="/theme/js/uisearch.js"></script>
        <script>
            new UISearch( document.getElementById( 'sb-search' ) );
        </script>-->

        <!-- Google Analytics script -->
        <!--script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3008279-16', 'auto');
        ga('require', 'linkid');
        ga('send', 'pageview');

        $(function () {
            $('#megamenu ul.nav li.dropdown').mouseenter(function() {
                var myText = $(this).find("a.menu-option").text();
                ga('send', 'event', 'megamenu', 'hover', myText.trim());
            });
            $('.realestate .button a').click(function(){
                var myTitle = $(this).find("p").html();
                ga('send', 'event', 'homebuttons', 'click', myTitle);
            });
            $("ul.item-desktop li a").mouseenter(function(){
                var myPane = $(this).html();
                ga('send', 'event', 'librarypanes', 'hover', myPane);
            });
            $("input#searchsubmit").click(function(){
                ga('send', 'event', 'bc-searchbutton', 'click');
            });
        });
        // Initialize bootstrap popover
        $(function () { $('[data-toggle="tooltip"]').tooltip() });
        </script-->

        {# % block pagescripts % #}
        {# % endblock % #}
    </div>
    <!-- END FULL PAGE WRAPPER -->

</body>
</html>
