<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet"
          href="/theme/css/bootstrap.css"/>
    <link rel="stylesheet" href="/theme/css/style.css"/>
    <link rel="stylesheet" href="/theme/css/fonts.css"/>
    <link rel="stylesheet" href="/theme/css/chosen.css"/>
    <link rel="stylesheet" href="/theme/bcbento/css/app.css"/>


    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="/theme/js/chosen.jquery.min.js?version=1.1.0"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}
</head>

<body id="index" class="s-lg-guide-body mainhomepage">

<div id="header">

    <div id="headertitle">
        <a href="#"><h1>Boston College University Libraries </h1></a>
    </div>

    <div id="motto">
        <p>Value Beyond Discovery</p>
    </div>
</div>

<!-- END HEADER-->


<div id="fullpagewrapper">

<!-- MENU BEGINS HERE -->

<div id="megamenu">
<div class="navbar yamm">
<div class="container">

<div class="hamburger">
    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
</div>

<div id="navbar-collapse-1" class="navbar-collapse collapse">
<ul class="nav navbar-nav">

<!-- Find button list -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Find</a>
    <ul class="dropdown-menu">
        <li>
            <!-- Content container to add padding -->
            <div class="yamm-content">
                <div class="row">

                    <ul class="col-sm-3 menu_list">
                        <li><h3>Books, Media, and more</h3></li>
                        <li><a href="#">Holmes Simple Search</a></li>
                        <li><a href="#">Holmes Advanced Search</a></li>
                        <li><a href="#">Browse Popular Reading</a></li>
                        <li><a href="#">Special Collections &amp; Rare Manuscripts</a></li>
                        <li><a href="#">Course Reserves</a></li>
                        <li><a href="#">Theses &amp; Dissertations</a></li>
                        <li><a href="#">Multimedia</a></li>
                        <li><a href="#">Data/GIS/Statistics</a></li>
                    </ul>
                    <ul class="col-sm-3 menu_list">
                        <li><h4>Articles</h4></li>
                        <li><a href="#">Search Databases</a></li>
                        <li><a href="#">Browse A-Z Database list</a></li>
                        <li><a href="#">Search E-Journals</a></li>
                        <li><a href="#">Holmes article search</a></li>
                    </ul>
                    <ul class="col-sm-3 menu_list">
                        <li><h4>Outside BC</h4></li>
                        <li><a href="#">WorldCat</a></li>
                        <li><a href="#">Hathi Trust</a></li>
                        <li><a href="#">Center for Research Libraries</a></li>
                        <li><a href="#">BLC Libraries</a></li>
                        <li><a href="#">Log in to Interlibrary Loan</a></li>
                    </ul>
                    <ul class="col-sm-3 menu_list">
                        <li><h4>Technology</h4></li>
                        <li><a href="#">Software in the library</a></li>
                        <li><a href="#">Laptops, iPads, and more</a></li>
                    </ul>

                </div>

                <div class="row bottom_row">
                    <div class="more"><a href="/aboutus" title="About Us">More Find ...</a></div>
                </div>
            </div>
        </li>
    </ul>
</li>

<!-- Research Support button list -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Research Support</a>
    <ul class="dropdown-menu">
        <li>
            <!-- Content container to add padding -->
            <div class="yamm-content">
                <div class="row">
                    <ul class="col-sm-4 menu_list">
                        <li><h4>Help Yourself</h4></li>
                        <li><a href="#">Guides by Subject</a></li>
                        <li><a href="#">Guides by Course</a></li>
                        <li><a href="#">How to... (use Holmes, cite sources, etc.)</a></li>
                        <li><a href="#">Finding... (newspapers, images, etc.)</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Video Tutorials</a></li>
                    </ul>

                    <ul class="col-sm-4 menu_list">
                        <li><h4>Personalized Help for...</h4></li>
                        <li><a href="#">Undergraduates</a></li>
                        <li><a href="#">Graduate Students</a></li>
                        <li><a href="#">Faculty</a></li>
                        <li><a href="#">Staff</a></li>
                        <li><a href="#">Alumni</a></li>
                        <li><a href="#">Guests</a></li>
                    </ul>

                    <ul class="col-sm-4 menu_list">
                        <li><h4>Additional Resources</h4></li>
                        <li><a href="#">library Instruction</a></li>
                        <li><a href="#">Digital Scholarship</a></li>
                        <li><a href="#">RefWorks</a></li>
                    </ul>

                </div>

                <div class="row bottom_row">
                    <h4 style="padding: 0 0 0 25px;">Research Subjects</h4>
                    <ul class="col-sm-3 menu_list">
                        <li><a href="/africanportal">African &amp; African Diaspora Studies</a></li>
                        <li><a href="#">American Studies</a></li>
                        <li><a href="/biologyportal">Biology </a></li>
                        <li><a href="#">Catholic Studies</a></li>
                        <li><a href="/chemistryportal">Chemistry</a></li>
                        <li><a href="/classicalportal">Classics</a></li>
                        <li><a href="h/communicationportalttp://libguides.bc.edu/computerscienceportal">Computer Science</a></li>
                        <li><a href="/dataportal">Data &amp; Statistics</a></li>
                        <li><a href="/geologyportal">Earth &amp; Environmental Sciences</a></li>
                        <li><a href="/economicsportal">Economics</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><a href="/educationportal">Education</a></li>
                        <li><a href="/englishportal">English</a></li>
                        <li><a href="/enviro-studiesportal">Environmental Studies</a></li>
                        <li><a href="#">Faith, Peace, &amp; Justice</a></li>
                        <li><a href="/artportal">Fine Arts</a></li>
                        <li><a href="/germanportal">German Studies</a></li>
                        <li><a href="/historyportal">History</a></li>
                        <li><a href="#">International Studies</a></li>
                        <li><a href="#">Irish Literature &amp; Culture</a></li>
                        <li><a href="/irishportal">Irish Studies</a></li>
                        <li><a href="/islamicportal">Islamic Civilization &amp; Societies</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><a href="/latinamericanportal">Latin American Studies</a></li>
                        <li><a href="/lawportal">Law</a></li>
                        <li><a href="/managementportal">Management</a></li>
                        <li><a href="/mathematicsportal">Mathematics</a></li>
                        <li><a href="/musicportal">Music</a></li>
                        <li><a href="/nursingportal">Nursing</a></li>
                        <li><a href="/philosophyportal">Philosophy</a></li>
                        <li><a href="/physicsportal">Physics</a></li>
                        <li><a href="/polisciportal">Political Science</a></li>
                        <li><a href="#">Programs</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><a href="/psychologyportal">Psychology</a></li>
                        <li><a href="/romanceportal">Romance Languages &amp; Literatures</a></li>
                        <li><a href="#">Scientific Computation</a></li>
                        <li><a href="/slavicportal">Slavic &amp; Eastern Languages &amp; Literatures</a></li>
                        <li><a href="/socialworkportal">Social Work</a></li>
                        <li><a href="/sociologyportal">Sociology</a></li>
                        <li><a href="/theatreanddanceportal">Theatre</a></li>
                        <li><a href="/theologyportal">Theology</a></li>
                        <li><a href="/theologyportal">Theology &amp; Ministry</a></li>
                        <li><a href="/genderportal">Women's &amp; Gender Studies</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</li>

<!-- Ask a lib button -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Ask a Librarian</a>
    <ul class="dropdown-menu">
        <li>
            <!-- Content container to add padding -->
            <div class="yamm-content">
                <div class="row">
                    <h3 style="padding:0 0 0 23px;">Ask a Librarian</h3>
                    <ul class="ask_list">
                        <li><h4>Text a Librarian</h4></li>
                        <li><p>Text 617-229-5222 for quick questions during weekday <a
                                href="http://www.bc.edu/content/bc/libraries/about/hours.html">reference service
                            hours</a>.</p></li>
                    </ul>
                    <ul class="ask_list">
                        <li><h4>Chat with a Librarian</h4></li>
                        <li><p>24/7 research help from Librarians at BC and at participating Jesuit institutions across
                            the country. <a
                                    onClick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=19965&amp;title=Boston College/AJCU+Librarians&amp;profile=cs-bostoncoll',     'chat', 'resizable=1,width=320,height=300'); return false;">Click
                                here to chat with a Librarian.</a></p></li>
                    </ul>
                    <ul class="ask_list">
                        <li><h4>In Person</h4></li>
                        <li><p>Stop by any library reference desk, or arrange a consultation with a librarian in your
                            area of study.</p></li>
                    </ul>
                    <ul class="ask_list">
                        <li><h4>Call a Librarian</h4></li>
                        <li><p>(617) 552-4472 <br>
                            Call a Reference Librarian during regular reference service hours.</p></li>
                    </ul>
                    <ul class="ask_list">
                        <li><h4>Send an Email</h4></li>
                        <li><p>Get an <a href="http://answers.bc.edu/q.php">answer by email</a> within one day,
                            Monday-Friday.</p></li>
                    </ul>

                </div>
                <div class="row bottom_row">
                    <div class="more"><a href="#">Find a Subject Librarian</a></div>
                </div>
            </div>
        </li>
    </ul>
</li>

<!-- Services list -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Services</a>
    <ul class="dropdown-menu">
        <li>
            <!-- Content container to add padding -->
            <div class="yamm-content">
                <div class="row">
                    <ul class="col-sm-3 menu_list">
                        <li><h4><a href="/services/borrowing" title="Borrowing">Borrowing</a>
                        </h4></li>
                        <li><a href="/services/borrowing/loanpolicies" title="Loan Policies">Loan
                            Policies</a></li>
                        <li><a href="/services/borrowing/howdoi" title="How do I...">How do
                            I...</a></li>
                        <li><a href="/services/borrowing/patronbillofrights"
                               title="Patron Bill of Rights">Patron Bill of Rights</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><h4><a href="/services/accounts" title="My Accounts">My Accounts</a>
                        </h4></li>
                        <li><a href="/services/accounts/holmes" title="Holmes">Holmes</a></li>
                        <li><a href="/services/accounts/interlibraryloan"
                               title="Interlibrary Loan/Document Delivery">Interlibrary Loan/Document Delivery</a></li>
                        <li><a href="/services/accounts/interlibraryloan"
                               title="Course Reserves">Course Reserves</a></li>
                        <li><a href="/services/accounts/refworks" title="RefWorks">RefWorks</a>
                        </li>
                        <li><a href="/services/accounts/worldcatlocal" title="WorldCat Local">WorldCat
                            Local</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><h4><a href="/services/servicing" title="Services for...">Services
                            for...</a></h4></li>
                        <li><a href="/services/servicing/undergraduates"
                               title="">Undergraduates</a></li>
                        <li><a href="/services/servicing/graduatestudents" title="">Graduate
                            Students</a></li>
                        <li><a href="/services/servicing/faculty" title="">Faculty</a></li>
                        <li><a href="/services/servicing/staff" title="">Staff</a></li>
                        <li><a href="/services/servicing/alumni" title="">Alumni</a></li>
                        <li><a href="/services/servicing/guests" title="">Guests</a></li>
                    </ul>

                    <ul class="col-sm-3 menu_list">
                        <li><h4><a href="/services/technologyandspaces" title="">Technology &amp;
                            Spaces</a></h4></li>
                        <li><a href="/services/technologyandspaces/reserve"
                               title=">Reserve a Group Project Room">Reserve a Group Project Room</a></li>
                        <li><a href="/services/technologyandspaces/checkout"
                               title="Check out Laptops, iPads, &amp; More">Check out Laptops, iPads, &amp; More</a>
                        </li>
                        <li><a href="/services/technologyandspaces/computers"
                               title="Computers, Printing, &amp; More">Computers, Printing, &amp; More</a></li>
                        <li><a href="/services/technologyandspaces/digitalstudio"
                               title="205 – Digital Studio">205 – Digital Studio</a></li>
                        <li><a href="/services/technologyandspaces/studyspaces"
                               title="Study Spaces">Study Spaces</a></li>
                        <li><a href="/services/technologyandspaces/policies"
                               title="Library Polices">Library Polices</a></li>
                        <li><a href="/services/technologyandspaces/advertise"
                               title="Advertise Your Event on Monitors">Advertise Your Event on Monitors</a></li>
                    </ul>

                </div>

                <div class="row bottom_row">
                    <div class="more"><a href="/aboutus" title="About Us">More Services ...</a>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</li>

<!-- About Us list -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About Libraries</a>
<ul class="dropdown-menu">
<li>
<div class="row">

<ul class="col-sm-2 menu_list" style="padding-top: 10px;">
    <li><h4>About us</h4></li>
    <li><a href="/aboutus/libraryschedule" title="Library Schedule">Hours</a></li>
    <li><a href="/aboutus/contact" title="Contact Us">Contact Us</a></li>
    <li><a href="/aboutus/contact/gettinghere" title="Getting Here">Getting Here</a></li>
    <li><a href="/aboutus/libraryschedule" title="Library Schedule">Library Calendar</a></li>
    <li><a href="/aboutus/mission" title="Mission">Mission</a></li>
    <li><a href="/aboutus/employment" title="Employment">Employment</a></li>
    <li><a href="/services/technologyandspaces/policies/gifts" title="Donations">Donations</a>
    </li>
    <li><a href="http://www.bc.edu/content/dam/files/libraries/2014/PDFs/staffdirectory.pdf"
           title="Staff Directory PDF">Staff Directory</a></li>
    <li><a href="#">Site Index</a></li>
    <li><a href="https://bcwiki.bc.edu/display/UL/University+Libraries+Home" title="Staff wiki">Staff Wiki</a></li>
</ul>

<!-- LIBRARY INFO CAN GO HERE -->

<!--Libraryinfo-content class exists to hide hours info that appears elsewhere.-->
<div class="libraryinfo-content">

<ul class="col-sm-3 library-list">
    <li><h4>Libraries</h4></li>
    <li class="bapst_pane"><a href="#">Bapst Art Library</a></li>
    <li class="burns_pane"><a href="#">Burns Library</a></li>
    <li class="erc_pane"><a href="#">Educational Resource Center</a></li>
    <li class="law_pane"><a href="#">Law Library</a></li>
    <li class="oconnor_pane"><a href="#">O'Connor Library</a></li>
    <li class="oneill_pane"><a href="#">O'Neill Library</a></li>
    <li class="swl_pane"><a href="#">Social Work Library</a></li>
    <li class="tml_pane"><a href="#">Theology &amp; Ministry Library</a></li>
    <li><!--THIS IS A MESSY WAY TO MAKE SPACE-->&nbsp;</li>
    <li><!--THIS IS A MESSY WAY TO MAKE SPACE-->&nbsp;</li>
</ul>


<!-- BAPST PANE BEGINS HERE -->
<div id="bapst_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/bapst">Bapst Art Library</a></h3>

        <p>The Bapst Art Library, named for the first president of Boston College, served as the original Library from
            1925 until the opening of the Thomas P. O'Neill Library in 1984. </p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-3200</p></li>
            <li class="megamenuemail"><p><a href="mailto:bapst@bc.edu">bapst@bc.edu</a></p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid519"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=519&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours </a></p></li>
        </ul>

    </div>

    <div class="pane_pic">
        <img alt="Bapst Library photo"
             src="/theme/img/librarypane/librarythumbnails_bapst.jpg">
    </div>
</div>
<!-- END BAPST PANE. RIGHT UP THERE-->

<!-- BURNS PANE BEGINS HERE -->
<div id="burns_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/burns">Burns Library</a></h3>

        <p>The University’s special collections, including the University’s Archives, are housed in the Honorable John
            J. Burns Library, located in the Bapst Library Building, north entrance.</p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-4861</p></li>
            <li class="megamenuemail"><p><a href="mailto:burns@bc.edu">burns@bc.edu</a></p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid298"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=298&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="Burns Library photo"
             src="/theme/img/librarypane/librarythumbnails_burns.jpg">
    </div>
</div>
<!-- END BURNS PANE. RIGHT UP THERE-->

<!-- ERC PANE BEGINS HERE -->
<div id="erc_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/erc">Educational Resource Center</a></h3>

        <p>The Educational Resource Center, located in Campion Hall, serves the specialized resource needs of the Lynch
            School of Education faculty and students. In doing so, the ERC aims to further the broader missions of the
            LSOE faculty, and the University generally, in the area of teaching, research, and service.</p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-4920</p></li>
            <li class="megamenuemail"><p><a href="mailto:erc@bc.edu">erc@bc.edu</a></p></li>
        </ul>


        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid520"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=520&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="Educational Resource Center photo"
             src="/theme/img/librarypane/librarythumbnails_ed.jpg">
    </div>
</div>
<!-- END ERC PANE. RIGHT UP THERE-->

<!-- LAW PANE BEGINS HERE -->
<div id="law_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="http://www.bc.edu/schools/law/library">Law Library</a></h3>

        <p>The mission of the Boston College Law Library is to provide research, educational and technological support
            to the Boston College Law School community. </p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-0000</p></li>
            <li class="megamenuemail"><p><a href="mailto:bapst@bc.edu">whoknows@bc.edu</a></p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid521"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=521&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="Law Library photo"
             src="/theme/img/librarypane/librarythumbnails_law.jpg">
    </div>
</div>
<!-- END LAW PANE. RIGHT UP THERE-->

<!-- O'CONNOR PANE BEGINS HERE -->
<div id="oconnor_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/oconnor">Catherine O'Connor Library</a></h3>

        <p>Located at Weston Observatory, this library contains a specialized collection of earth sciences monographs,
            periodicals, and maps, particularly in the areas of seismology, geology, and geophysics.</p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-4477</p></li>
            <li class="megamenuemail"><p><a href="mailto:bapst@bc.edu">whoknows@bc.edu</a></p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li><p class="hours-col-time">By appointment</p></li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="AH Library photo"
             src="/theme/img/librarypane/librarythumbnails_oconnor.jpg">
    </div>
</div>
<!-- END O'CONNOR PANE. RIGHT UP THERE-->

<!-- O'NEILL PANE BEGINS HERE -->
<div id="oneill_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/oneill">O'Neill Library</a></h3>

        <p>The main research library, the Thomas P. O'Neill, Jr. Library, is located in the center of the main campus,
            adjoining the O'Neill Plaza.</p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>Circ: (617) 552-8038</p></li>
            <li class="megamenuphone"><p>Ref: (617) 552-4472</p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid297"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=297&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="O'Neill Library photo"
             src="/theme/img/librarypane/librarythumbnails_oneill.jpg">
    </div>
</div>
<!-- END O'NEILL PANE. RIGHT UP THERE-->

<!-- SWL PANE BEGINS HERE -->
<div id="swl_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/socialwork">Social Work Library</a></h3>

        <p>Located in McGuinn Hall, the Social Work Library supports the teaching and research needs of the Graduate
            School of Social Work.</p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>(617) 552-0109</p></li>
            <li class="megamenuemail"><p><a href="mailto:swlib@bc.edu">swlib@bc.edu</a></p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid522"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=522&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="Social Work Library Library photo"
             src="/theme/img/librarypane/librarythumbnails_swl.jpg">
    </div>
</div>
<!-- END SWL PANE. RIGHT UP THERE-->

<!-- TML PANE BEGINS HERE -->
<div id="tml_pane" class="library_pane">
    <div class="pane_info">
        <h3><a href="/libraries/tml">Theology &amp; Ministry Library</a></h3>

        <p>The Theology &amp; Ministry Library (TML) supports research, teaching, and learning at the School of Theology
            &amp;
            Ministry and Saint John's Seminary. </p>

        <ul class="col-sm-6">
            <li><h4>Contact Info</h4></li>
            <li class="megamenuphone"><p>Circ: (617) 552-0549</p></li>
            <li class="megamenuphone"><p>Ref: (617) 552-6553</p></li>
        </ul>

        <ul class="col-sm-6">
            <li><h4>Today's Hours</h4></li>
            <li>
                <div id="api_hours_today_iid609_lid523"></div>
                <script defer="defer"
                        src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=523&amp;format=js&amp;context=object"></script>
            </li>
            <li class="megamenucalendar"><p><a href="#">All Library Hours</a></p></li>
        </ul>
    </div>

    <div class="pane_pic">
        <img alt="Theology &amp; Ministry Library photo"
             src="/theme/img/librarypane/librarythumbnails_tml.jpg">
    </div>
</div>
<!-- END TML PANE. RIGHT UP THERE-->

</div>
</div>
<div class="row bottom_row">
    <div class="more"><a href="/aboutus" title="About Us">More About Us ...</a></div>
</div>
</li>
</ul>
</li>


<!-- FEEDBACK FORM EMAIL MAYBE -->
<li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle buttonone">Feedback</a>
    <ul class="dropdown-menu">
        <li>
            <div class="yamm-content">
                <div class="row row_feedback">
                    <h4>Feedback</h4>


                    <!-- The action and class are required. -->
                    <form method="post" class="website-feedback remail-form" action="website-feedback">

                        <div class="col-sm-4">
                            <div class="form_section">
                                <label for="feedback-name">Name:</label>
                                <input class="menu_input" type="text" value="" id="feedback-name" name="name">
                            </div>
                            <div class="form_section">
                                <label for="feedback-email">Email:</label>
                                <input class="menu_input" type="text" value="" id="feedback-email" name="email"><br>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form_section">
                                <label for="feedback-url">Page URL:</label>
                                <input class="menu_input" type="text" value="" id="feedback-url" name="page_url"><br>
                            </div>

                            <div class="form_section">
                                <label for="feedback-info">I am a:</label>
                                <select name="Info" id="feedback-info">
                                    <option value="student">Student</option>
                                    <option value="faculty">Faculty</option>
                                    <option value="staff">Staff</option>
                                    <option value="guest">Guest</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form_section">
                                <label for="feedback-text">Your question or comment</label>
                                <br>
                                <textarea name="feedback" id="feedback-text"></textarea>
                            </div>
                            <label class="accessibility-text" for="feedback-button">Submit feedback</label>
                            <input class="feedback_button" id="feedback-button" type="submit">
                        </div>
                        <!-- END form fields -->

                        <!-- REQUIRED -->
                        <input type="hidden" value="website-feedback" name="form-to[]">

                    </form>
                    <!-- END REQUIRED -->

                </div>

            </div>
        </li>
    </ul>
</li>

</ul>
</div>
</div>
</div>

</div>
<!-- END MENU -->

<div id="midlevelcontainer">

    <div id="content_container">

        {% block content %}
        {% endblock %}


    </div>
</div>


<!-- BEGIN FOOTER -->

<div id="footer">

    <div id="footer_dividingline">


        <div class="f_column">

            <div id="f_address">
                <h1><a href="http://bc.edu" target="_self" title="Boston College homepage">Boston College</a></h1>

                <p>140 Commonwealth Avenue <br/>
                    Chestnut Hill, MA 02467 <br/>
                    <strong>Administration:</strong> 617-552-4470<br/>
                    <strong>Reference:</strong> 617-552-4472 <br/>
                    <strong>Circulation:</strong> 617-552-8038</p>
            </div>

            <div id="f_media">
                <ul>
                    <li><a href="#" title="Blogs"><span id="icon_blogs">Blogs</span></a></li>
                    <li><a href="#" title="Facebook"><span id="icon_facebook">Facebook</span></a></li>
                    <li><a href="#" title="Flickr"><span id="icon_flickr">Flickr</span></a></li>
                    <li><a href="#" title="Twitter"><span id="icon_twitter">Twitter</span></a></li>
                    <li><a href="#" title="YouTube"><span id="icon_youtube">YouTube</span></a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>&copy; 2014 The Trustees of Boston College. <a href="http://www.bc.edu/gn-legal"
                                                                  title="legal">Legal</a></p>
            </div>
        </div>

        <div class="f_column no_right_border">
            <h1>Quick Links</h1>
            <ul>
                <li><a href="#" title="LINK" target="_self">Contact us</a></li>
                <li><a href="#" title="LINK" target="_self">Feedback</a></li>
                <li><a href="#" title="LINK" target="_self">Book a Study Room</a></li>
                <li><a href="#" title="LINK" target="_self">Ask a Librarian</a></li>
            </ul>
        </div>

        <div class="f_column no_bottom_border">
            <h1>My Accounts</h1>
            <ul>
                <li><a href="#" title="ACCOUNTS">Holmes Account</a></li>
                <li><a href="#" title="ACCOUNTS">Interlibrary Loan/Document Delivery</a></li>
                <li><a href="#" title="ACCOUNTS">RefWorks</a></li>
                <li><a href="#" title="ACCOUNTS">WorldCat Local</a></li>
                <li><a href="#" title="LINK" target="_self">Course Reserves</a></li>
            </ul>
        </div>

        <div class="f_column column_hours  no_bottom_border no_right_border">
            <h1><a href="#">Today's library Hours</a></h1>

            <!-- LIBCAL HOURS API-->
            <div id="api_hours_today_iid609_lid0"></div>
            <script defer="defer"
                    src="https://api.libcal.com/api_hours_today.php?iid=609&amp;lid=0&amp;format=js&amp;context=object"></script>
            <p>O'Connor library <a href="mailto:karre@bc.edu">by appointment</a> only</p>
        </div>


        <!-- END "DIVIDING LINE" -->
    </div>

    <!-- END FOOTER -->
</div>

</div>

<script type="text/javascript" src="/theme/js/libraryinfo.js"></script>
<script type="text/javascript" src="/theme/js/breadcrumbs.js"></script>

<!-- /#contentinfo -->
<!-- MEGA MENU SCRIPT -->
<script>
    $(function () {
        $(document).on('click', '.yamm .dropdown-menu', function (e) {
            e.stopPropagation()
        });

        // Slide effect lifted from http://stackoverflow.com/a/19339162/122629.
        $('.dropdown').on('show.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown(200);
        }).on('hide.bs.dropdown', function (e) {
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp(50);
        });
    });
</script>

<!-- SCROLL TO TOP SCRIPT -->
<script>
    (function ($) {
        jQuery('#todayshours').click(function (event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: $('body').height()}, 750);
            return false;
        });
    })(jQuery);
</script>


<!-- Script to block spam-bots. Requires JQuery. -->
<script src="/theme/js/nospam.js"></script>

<script>
    // Search server for typeahead.
    var search_server = 'libdev.bc.edu';
</script>
<script src="/theme/bcbento/js/angular.min.js"></script>
<script src="/theme/bcbento/js/angular-route.min.js"></script>
<script src="/theme/bcbento/js/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
<script src="/theme/bcbento/js/app.js"></script>
<script src="/theme/bcbento/js/controllers.js"></script>
<script src="/theme/bcbento/js/directives.js"></script>

{% block pagescripts %}
{% endblock %}

</body>
</html>