{# avoid using bootstrap for bclin-top-bar #}
{# we want to make this modular and not all systems will have bootstrap installed #}
<div id="bclib-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-6 col-xxs">
                <a href="http://libdev.bc.edu" title="Go to Boston College Libraries" class="bclib-header-logo">
                    <img src="/theme/img/title_295x30_transparent_whitetext.png" id="fakebctitle" alt="Boston College Library Logo">

                    <p>Boston College Libraries</p>
                </a>
            </div>
            <!--  POTENTIAL SEAL LOCATION

            <div class="col-md-2">
               <a href="#" class="ignatius"></a>
            </div>-->
            <div class="col-md-8 col-sm-12 col-xs-6 col-xxs header-right">
                <div class="col-md-7 col-sm-7 col-xs-7 col-xxs link-wrapper">
                    <ul class="bclib-header-links">
                        <li><a href="https://bc.edu">BC Home</a></li>
                        <li><a href="http://www.bc.edu/bc-web/about/mission.html">Mission</a></li>
                        <li><a href="#bcl-feedback"><span class="fa fa-commenting-o" aria-hidden="true"></span> Feedback</a>
                        </li>
                        <li>
                            <a href="http://libguides.bc.edu/my-accounts"><span class="fa fa-user" aria-hidden="true"></span>
                                Accounts</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 col-xxs input-wrapper">
                    <div class="pull-right">
                        <form action="http://www.bc.edu/bc-web/search.html">
                            <div class="input-group" id="bclib-header-form">
                                <label for="bclib-header-search" class="accessibility-text">Search the Library</label>
                                <input type="hidden" ie="UTF-8" />
                                <input type="text" id="bclib-header-search" class="form-control" name="q" placeholder="Search bc.edu">
                                <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i><span class="accessibility-text">Submit Search</span></button>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>