{# avoid using bootstrap for bclin-top-bar #}
{# we want to make this modular and not all systems will have bootstrap installed #}
<div id="bclib-header">
    <div class="container">
        <div class="row">
            {# logo #}
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs">
                <a href="https://library.bc.edu" title="Go to Boston College Libraries" class="bclib-header-logo">
                    <img src="/theme/img/title_295x30_transparent_whitetext.png" id="fakebctitle" alt="Boston College Library Logo">
                    <p>Boston College Libraries</p>
                </a>
            </div>

            {# maroon bar links #}
            <div class="col-md-8 col-sm-6 col-xs-6 col-xxs">
                <ul class="bclib-header-links">
                    <li><a href="https://www.bc.edu/bc-web/about/mission.html">Mission</a></li>
                    <li><a href="/feedback"><span class="fa fa-commenting-o" aria-hidden="true"></span> Ask Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>