    {# avoid using bootstrap for bclin-top-bar #}
    {# we want to make this modular and not all systems will have bootstrap installed #}
    <div class="container-fluid" id="bclib-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <a href="http://libdev.bc.edu" title="Go to Boston College" class="bclib-header-logo"><img src="http://library.bc.edu/theme/img/hosted/bctitle/title_600x30_transparent_whitetext.png" id="fakebctitle" alt="Boston College Logo"><p>Boston College Libraries</p></a>
                </div>
                <!--  POTENTIAL SEAL LOCATION

                <div class="col-md-2">
                   <a href="#" class="ignatius"></a>
                </div>-->
                <div class="col-md-8 col-sm-12">
                    <ul class="bclib-header-links">
                        <!--<li><a href="https://bc.edu">Our Mission</a></li>-->
                       <li><a href="https://bc.edu">BC Home</a></li>
                        <li><a href="#bcl-feedback"><span class="fa fa-commenting-o" aria-hidden="true"></span> Feedback</a></li>
                        <li><a href="http://libguides.bc.edu/my-accounts"><span class="fa fa-user" aria-hidden="true"></span> Accounts</a></li>
                        <li>
                            <div class="input-wrapper">
                                <div class="input-group" id="bclib-header-form">
                                    <form action="/search">
                                    <label for="bclib-header-search" class="accessibility-text">Search the Library</label>
                                    <input type="text" id="bclib-header-search" class="form-control" name="any" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i><span class="accessibility-text">Submit Search</span></button>
                                    </span>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>