{% extends "base.html" %}
{% block content %}


<!-- TEMPLATE FOR NEWS ITEMS GOES HERE. THIS WILL NOT BE USED VERY OFTEN, AS MOST NEWS LINKS OUT -->
{% if article.category == "news" %}

	<div class="article_page">

		<h3>{{ article.title }}</h3>

			<div class="article_meta">
			{{ article.date|strftime('%B %d, %Y') }}
		    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}" >
			</div>

			<div class="article_content">
		        <div>{{ article.content }}</div>
		    </div>

		    {{ articles_previous_page }}

	</div>
{% endif %}

<!-- TEMPLATE FOR ANNOUNCEMENTS -->
{% if article.category == "announcements" %}

	<div class="article_page">

		<h3>{{ article.title }}</h3>

			<div class="article_meta">
			{{ article.date|strftime('%B %d, %Y') }}
		    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}" >
			</div>

			<div class="article_content">
		        <div>{{ article.content }}</div>
		    </div>

		    {{ articles_previous_page }}

	</div>
{% endif %}

<!-- TEMPLATE FOR EXHIBITS -->
{% if article.category == "exhibits" %}

	<div class="article_page">

		<h3>{{ article.title }}</h3>

			<div class="article_meta">
			{{ article.date|strftime('%B %d, %Y') }}
		    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}" >
			</div>

			<div class="article_content">
		        <div>{{ article.content }}</div>
		    </div>

		    {{ articles_previous_page }}

	</div>
{% endif %}

<!-- TEMPLATE FOR  FACULTY PUBLICATION HIGHLIGHTS  -->
{% if article.category == "facpub" %}

	<div class="article_page">

		<h3>{{ article.title }}</h3>

			<div class="article_meta">
			{{ article.date|strftime('%B %d, %Y') }}
		    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}" >
			</div>

			<div class="article_content">
		        <div>{{ article.content }}</div>
		    </div>


	</div>
{% endif %}

{% endblock %}