<!-- LIBRARY FOOTER START -->
<div class="container-fluid" id="lib-footer">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 address-wrap col-xs-12">
                    <div class="address">
                        <h4 class="orgname">Boston College Libraries</h4>
                        <span>140 Commonwealth Avenue<br></span>
                        <span>Chestnut Hill, MA 02467<br></span>
                    </div>
                    <div class="phone-numbers">
                        <div class="phone-pair"><p class="phone-label">O'Neill Circulation: </p> <p class="phone-number"><a href="tel:+16175528038">617-552-8038</a></p></div>
                        <div class="phone-pair"><p class="phone-label">O'Neill Reference: </p> <p class="phone-number"><a href="tel:+16175524472">617-552-4472</a></p></div>
                        <div class="phone-pair"><p class="phone-label">Administration: </p> <p class="phone-number"><a href="tel:+16175524470">617-552-4470</a></p></div>
                    </div>
                    <div class="lib-footer-links">
                        <span><a href="http://libguides.bc.edu/accessibility">Library Accessibility</a> | <a href="http://libguides.bc.edu/privacy">Privacy</a></span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4 class="hours"><a href="http://libguides.bc.edu/hours">Hours</a></h4>
                    <div class="hours-todays-date"></div>
                    <div class="table-responsive table-hours">
                        <table class="table table-condensed table-bordered">
                            <caption class="accessibility-text">Today's Library Hours</caption>
                            <thead class="accessibility-text">
                                <tr>
                                    <th>Library</th>
                                    <th>Hours</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/oneill/hours">O'Neill Library</a></td>
                                    <td class="lib-hours lib-oneill">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/bapst/hours">Bapst Library</a></td>
                                    <td class="lib-hours lib-bapst"></td>
                                </tr>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/burns">Burns Library</a></td>
                                    <td class="lib-hours lib-burns"></td>
                                </tr>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/erc/hours">Educational Research Center</a></td>
                                    <td class="lib-hours lib-erc"></td>
                                </tr>
                                <tr>
                                    <td><a href="http://www.bc.edu/bc-web/schools/law/sites/current-students/library/using/hours.html">Law Library</a></td>
                                    <td class="lib-hours lib-law"></td>
                                </tr>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/socialwork/hours">Social Work Library</a></td>
                                    <td class="lib-hours lib-swl"></td>
                                </tr>
                                <tr>
                                    <td><a href="http://libguides.bc.edu/tml/hours">Theology &amp; Ministry Library</a></td>
                                    <td class="lib-hours lib-tml"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div id="socialmedia" class="col-lg-12 col-md-12 col-sm-12 col-xs-7">
                        <h4>Connect With Us</h4>
                        <ul>
                            <li><a href="http://libguides.bc.edu/publications" title="Boston College Library Blogs" class="" id="media_news"><span class="accessibility-text">Blogs</span></a></li>
                            <li><a href="https://www.facebook.com/bostoncollegelibraries" title="Boston College Library Facebook" class="" id="media_facebook"><span class="accessibility-text">Facebook</span></a></li>
                            <li><a href="https://www.flickr.com/photos/bc-burnslibrary/" title="Burns Library Flickr Page" class="" id="media_flickr"><span class="accessibility-text">Flickr</span></a></li>
                            <li><a href="https://twitter.com/bclibraries" title="Follow the Boston College Libraries on Twitter" class="" id="media_twitter"><span class="accessibility-text">Twitter</span></a></li>
                            <li><a href="https://www.youtube.com/user/BostonCollegeLib" title="Boston College Library on YouTube" class="" id="media_youtube"><span class="accessibility-text">YouTube</span></a></li>
                            <li><a href="https://www.instagram.com/bclibraries/" title="Boston College Library on Instagram" class="" id="media_instagram"><span class="accessibility-text">Instagram</span></a></li>
                        </ul>
                    </div>

                    <div class="quick-links col-lg-12 col-md-12 col-sm-12 col-xs-5">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="http://libcal.bc.edu/booking/oneill">Study Rooms</a></li>
                            <li><a href="http://libguides.bc.edu/ask-a-librarian">Ask a Librarian</a></li>
                            <li><a href="https://illiad.bc.edu/illiad/bxm/logon.html">Interlibrary Loan</a></li>
                            <li><a href="https://bc.on.worldcat.org/">WorldCat</a></li>
                            <li><a href="http://arc.bc.edu/reserves">Course Reserves</a></li>
                            <li><a href="http://libguides.bc.edu/refworks-login">RefWorks</a></li>
                            <li><a href="http://answers.bc.edu/">FAQs</a></li>
                            <li><a href="http://libguides.bc.edu/contact">Contact Us</a></li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- LIBRARY FOOTER END -->