{% extends "base.html" %}
{% block content %}

    <!-- TOP ROW -->
<div class="row">

    <!-- BEGIN QUICK LINKS BLOCK -->
    <div id="block_right">
         <div id="block_quick_links">
            <h2>Quick Links</h2>
            <ul style="float: left; padding: 0 25px;">
                <li><a href="#" title="LINK" target="_self">Contact us</a></li>
                <li><a href="#" title="LINK" target="_self">Feedback</a></li>
                <li><a href="#" title="LINK" target="_self">Book a Study Room</a></li>
                <li><a href="#" title="LINK" target="_self">Ask a Librarian</a></li>
                <li><a href="#" title="LINK" target="_self">Library Hours</a></li>
                <li><a href="#" title="LINK" target="_self">RefWorks</a></li>
            </ul>

            <ul style="float: right; padding: 0 25px;">
                <li><a href="#" title="LINK" target="_self">Contact us</a></li>
                <li><a href="#" title="LINK" target="_self">Feedback</a></li>
                <li><a href="#" title="LINK" target="_self">Book a Study Room</a></li>
                <li><a href="#" title="LINK" target="_self">Ask a Librarian</a></li>
                <li><a href="#" title="LINK" target="_self">Library Hours</a></li>
                <li><a href="#" title="LINK" target="_self">RefWorks</a></li>
            </ul>
        </div>
        
    </div>

    <div id="block_search">
            <h2>Begin Your Search Here</h2>

            <!-- FRONT PAGE TABBED SEARCH -->
            <div id="newsearch" class="row" data-ng-app="myApp" data-ng-controller="AutoComplete">
                <div class="row">
                    <div class="col-xs-12">
                        <ul id="myTab" class="nav nav-tabs test">
                            <li class="active"><a href="#">All</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Articles</a></li>
                            <li><a href="#">Web site</a></li>
                            <a style="padding: 10px; font-size: 15px;" href="#">Advanced Search</a>
                        </ul>
                </div>
            </div>

                <div class="col-xs-12">
                    <div class="input-group input-group-md">
                        <div data-searchbox></div>
                </div>
                    </div>
                    </div>
    </div>

        <noscript>Javascript disabled</noscript>

        <div id="block_databases">
            <h2>Databases</h2>
            <!-- must include -->
            <label for="dbs-by-title" class="accessibility-text">Find database by title</label>
            <select name="resources" style="width: 100%;" id="dbs-by-title" class="chosen-box"
                    data-placeholder="By title...">
                <option></option>
            </select>
        </div>
            
</div>
<!-- END TOP ROW -->

<!-- CAROUSEL -->
<div class="row">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <h2><a href="#">News</a></h2>
        
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for article in articles[:5] %}

            {% if loop.index == 1 %}
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            {% else %}
            <li data-target="#myCarousel" data-slide-to="{{ loop.index - 1 }}"></li>
            {% endif %}

            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% if articles %}

            {% for article in articles[:5] %}

            {% if loop.index == 1 %}
            <div class="item active">
                {% else %}
                <div class="item">
                    {% endif %}

                    <img src="/theme/img/news/{{ article.image }}" alt="{{ article.image_alt }}">

                    <div class="container">
                        <div class="carousel-caption">
                            <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
               
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span
                    class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!-- /.carousel -->

    <div style="float: right;">
    <img src="theme/img/rightbox_001.png" style="width: 463px;">
    </div>

</div>


{% endblock %}

{% block pagescripts %}
<script>
    $(document).ready(function () {
                'use strict';

                var selected = 1, rotate_interval = 3000000, wait_after_select = 60000,
                        num_stories = $('.image-selection').length, rotate_story, advanceSelector, changeStory;

                advanceSelector = function () {
                    selected = selected === num_stories ? 1 : selected + 1;
                    changeStory(selected);
                };

                changeStory = function (selected) {
                    $('.active').toggleClass('active');
                    $('.story-image:nth-of-type(' + selected + ')').toggleClass('active');
                    $('.image-selection:nth-of-type(' + selected + ')').toggleClass('active');
                };

                $('.image-chooser a').click(function () {
                    selected = parseInt($(this).attr('data-choice'));
                    changeStory(selected);
                    window.clearInterval(rotate_story);
                    setTimeout(function () {
                        window.clearInterval(rotate_story);
                        rotate_story = window.setInterval(advanceSelector, rotate_interval);
                    }, wait_after_select);
                    return false;
                });

                rotate_story = window.setInterval(advanceSelector, rotate_interval);
            }
    );
</script>
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}