{% extends "base.html" %}
{% block content %}

    <!-- TOP ROW -->
<div class="row" style="line-height: 0;">

    <!-- BEGIN QUICK LINKS BLOCK -->
    <div class="block_right">
         <div id="block_quick_links">
            <ul style="border-right: 1px solid #dadada;">
                <li><a href="http://libguides.bc.edu/contact" title="Contact Us" target="_self">Contact us</a></li>
                <li><a href="http://libguides.bc.edu/reserve-study-room" title="Reserve a Study Room" target="_self">Reserve a Study Room</a></li>
                <li><a href="http://libguides.bc.edu/ask-a-librarian" title="Ask a Librarian" target="_self">Ask a Librarian</a></li>
                <li><a href="http://libguides.bc.edu/hours" title="Library Hours" target="_self">Library Hours</a></li>
                <li><a href="http://proxy.bc.edu/login?url=https://www.refworks.com/refworks" title="RefWorks" target="_self">RefWorks</a></li>
            </ul>

            <ul style="padding-left: 35px;">
                <li><a href="http://answers.bc.edu/index.php" title="Library FAQs" target="_self">Library FAQs</a></li>
                <li><a href="https://illiad.bc.edu/illiad/bxm/logon.html" title="Interlibrary Loan" target="_self">Interlibrary Loan</a></li>
                <li><a href="http://arc.bc.edu/reserves" title="Course Reserves" target="_self">Course Reserves</a></li>
                <li><a href="http://bc.worldcat.org/" title="WorldCat" target="_self">WorldCat</a></li>
                <li><a href="http://bclib.bc.edu/a-to-z" title="Journals" target="_self">Journals</a></li>
            </ul>
        </div>

    </div>

    <div id="block_search">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">All</a></li>
                <li role="presentation"><a href="#books" aria-controls="books" role="tab" data-toggle="tab">Books</a></li>
                <li role="presentation"><a href="#articles" aria-controls="articles" role="tab" data-toggle="tab">Articles</a></li>
                <a href="http://bclib.bc.edu/advanced-search" class="advanced-search-link" style="float: right">Advanced search</a>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="all">
                    <div class="col-xs-12">
                        <div class="input-group input-group-md">
                            <form method="get" action="/search" id="bcbento-search">
                                <label for="typeahead" class="accessibility-text">Search articles, books, journals, and more</label>
                                <input type="text" id="typeahead" name="any" placeholder="Find articles, books, journals, & more">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="books">
                    <div class="col-xs-12">
                        <div class="input-group input-group-md">
                            <form method="get" action="/search-services/primo-catalog" id="bcbento-search">
                                <label for="book-search" class="accessibility-text">Search books, media, and more</label>
                                <input type="text" id="book-search" class="" name="any" placeholder="Find books, media, & more">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="articles">
                    <div class="col-xs-12">
                        <div class="input-group input-group-md">
                            <form method="get" action="/search-services/primo-articles" id="bcbento-search">
                                <label for="article-search" class="accessibility-text">Search journal articles</label>
                                <input type="text" id="article-search" name="any" placeholder="Find journal articles">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div id="block_databases">
        <div class="col-md-6">
            <h2><a href="http://libguides.bc.edu/az.php">Databases</a></h2>
            <!-- must include -->
            <label for="dbs-by-title" class="accessibility-text">Find database by title</label>
            <select name="resources" id="dbs-by-title" class="chosen-box"
                    data-placeholder="Select a database…">
                <option></option>
            </select>
        </div>
        <div class="col-md-6">
            {% include "research-guide-chooser.html" %}
        </div>
    </div>

</div>
<!-- END TOP ROW -->

<!-- SECOND ROW, NEWS ROW -->
<div class="row newsrow">
    
<!-- THUMBNAILS ARE 150xp x 150p -->

    <div class="list_carousel">
        <a id="prev" href="#" class="newsbutton prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a id="next" href="#" class="newsbutton next"><span class="glyphicon glyphicon-chevron-right"></span></a>

        <ul id="newsslider">
                    
                {% if articles %}

                {% for article in articles[:5] %}
                 
            <li>
                <a href="{{ article.url }}">
                <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">
                
                <p class="newslink">{{ article.title }}</p></a>
            </li>
                {% endfor %}
                {% endif %}
        </ul>
     </div>

</div>

<!-- ROW THREE, THE THIRD ROW -->
<div class="row">

        <!-- REAL ESTATE SECTION CONTAINS 6 BUTTONS THAT LINK TO PRIORITY LIBRARY SITES.
        SWAP OUT <A> CLASS TO CHANGE ICONS. ICONS LISTED IN STYLE SHEET. SEARCH FOR "REAL ESTATE ICON CSS" -->
        <div class="realestate">

                <div class="button"><a href="http://escholarship.bc.edu/" class="icon_document"><p>eScholarship@BC</p></a></div>
                <div class="button"><a href="/digschol/" class="icon_book"><p>Digital Scholarship</p></a></div>
                <div class="button"><a href="http://libguides.bc.edu/popcollection" class="icon_openbook"><p>Popular Reading</p></a></div>
                <div class="button"><a href="http://libguides.bc.edu/openaccess" class="icon_file"><p>Open Access</p></a></div>
                <div class="button"><a href="http://dcollections.bc.edu/R/?func=search" class="icon_files"><p>Digital Collections</p></a></div>
                <div class="button"><a href="http://www.bc.edu/libraries/about/exhibits-new.html" class="icon_picture"><p>Exhibits</p></a></div>

       </div>

       <!-- FACULTY PUBLICATION HIGHLIGHT CAN GO HERE -->
        
        <div class="highlight">

            <!-- TITLE OF HIGHLIGHT -->
            <h2><a href="http://www.bc.edu/sites/libraries/facpub/index.html">Faculty Publications</a></h2>
            
            <!-- HIGHLIGHT URL -->
            <a href="http://www.bc.edu/sites/libraries/facpub/bloom-minaret/">
                <img src="/theme/img/cover.jpg" alt="The Minaret book cover">
                <cite>The Minaret</cite>
            </a>
            <div class="author">Jonathan M. Bloom, Fine Arts</div>
            <p>A lavishly illustrated history of this iconic element of Islamic architecture</p>
       </div>

</div>


{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}