<style type="text/css">
    #askuswidget {
        position: fixed;
        right: -168px;
        z-index: 99999999999;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        font-size: 130%;
        height: auto;
        padding-bottom: .75rem;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        box-shadow: rgb(0,0,0) 0px 0px 5px;
    }
    #askuswidget.btn {
        border-color: #fff;
        border-top: none;
    }
    #askuswidget.btn:focus,
    #askuswidget.btn:hover  {
        border-color: inherit;
        border-top: none;
    }
    @media (max-width: 900px) {
        #askuswidget {
            bottom: 200px;
        }
    }
    @media (min-width: 901px) {
        #askuswidget {
            top:25%;
        }
    }
</style>
<div class="libraryh3lp" jid="cs-bostoncoll@chat.libraryh3lp.com">
    <a href="#" id="askuswidget" class="btn btn-primary" onclick="window.open('https://libraryh3lp.com/chat/cs-bostoncoll@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College&amp;sounds=1', 'chat', 'resizable=1,width=320,height=300'); return false;"><span class="fa fa-commenting-o"></span> Chat With Us</a>
</div>

<div class="libraryh3lp" jid="ajcu-consortium@chat.libraryh3lp.com" style="display: none;">
    <a href="#" id="askuswidget" class="btn btn-primary" onclick="window.open('https://libraryh3lp.com/chat/ajcu-consortium@chat.libraryh3lp.com?skin=29500&amp;title=Boston+College/AJCU+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;"><span class="fa fa-commenting-o"></span> Chat With Us</a>
</div>

<div class="libraryh3lp" jid="ajcu-chatstaff@chat.libraryh3lp.com" style="display: none;">
    <a href="#" id="askuswidget" class="btn btn-primary" onclick="window.open('https://libraryh3lp.com/chat/ajcu-chatstaff@chat.libraryh3lp.com?skin=29500&amp;title=ChatStaff+Librarians&amp;profile=cs-bostoncoll', 'chat', 'resizable=1,width=320,height=300'); return false;"><span class="fa fa-commenting-o"></span> Chat With Us</a>
</div>

<div class="libraryh3lp" style="display: none;">
    <a id="askuswidget" class="btn btn-primary" href="https://libguides.bc.edu/ask-a-librarian"><span class=" fa fa-commenting-o"></span> Chat With Us</a>
</div>