<h2><a href="http://libguides.bc.edu/research_guides" id="research-guides-link">Research Guides</a></h2>

<label for="subject-guides" class="accessibility-text">Find a research guide</label>
<select name="resources" style="width: 90%;" id="subject-guides" class="chosen-box"
        data-placeholder="Select a research guide…">
    <option></option>

    <optgroup label="African &amp; African Diaspora Studies">x
        <option value="africanstudies">African &amp; African Diaspora Studies</option>
        <option value="aframlit">African American Literature</option>
        <option value="africanbusiness">African Business</option>
    </optgroup>

    <optgroup label="Art and Architecture">
        <option value="architecture">Architecture</option>
        <option value="arthistory">Art History</option>
        <option value="findingimages">Finding Images</option>
        <option value="photography">Photography</option>
    </optgroup>

    <optgroup label="Asian Studies">
        <option value="asianstudies">Asian Studies</option>
    </optgroup>

    <optgroup label="Biology" data-value="biologyportal">
        <option value="biology">Biology</option>
        <option value="chemistry" class="duplicate">Chemistry Resources</option>
        <option value="environmental">Environmental Studies</option>
        <option value="gensci" class="duplicate">General Science Resources</option>
    </optgroup>

    <optgroup label="Business &amp; Management">
        <option value="accounting">Accounting</option>
        <option value="africanbusiness" class="duplicate">African Business</option>
        <option value="Bloomberg">Bloomberg Guide</option>
        <option value="businessethics">Business Ethics</option>
        <option value="businesshistory">Business History</option>
        <option value="businesslaw">Business Law</option>
        <option value="businessplans">Business Plans</option>
        <option value="business">Business Research Guide</option>
        <option value="massbusiness">Business Resources for Massachusetts</option>
        <option value="businessstatistics">Business Statistics</option>
        <option value="careerresources">Career Resources for Business and Management</option>
        <option value="citationanalysis" class="duplicate">Citation Analysis</option>
        <option value="companyinfo">Company Information</option>
        <!--option value="emergingmarkets">Emerging Markets</option-->
        <option value="Factiva">Factiva</option>
        <!--option value="financialdatabases">Financial Databases</option-->
        <option value="finance">Finance</option>
        <option value="healthcareadmin">Healthcare</option>
        <option value="HedgeFunds">Hedge Funds</option>
        <!--option value="Healthcare">Healthcare</option-->
        <option value="industry">Industry Information</option>
        <option value="intlbusiness">International Business Resources</option>
        <option value="managementconsulting">Management Consulting Industry</option>
        <option value="marketing">Marketing &amp; Advertising</option>
        <option value="mergers">Mergers &amp; Acquisitions</option>
        <option value="nonprofit">Nonprofit Industry</option>
        <option value="tax">Tax Research</option>
        <option value="thomsonone">Thomson ONE</option>
        <option value="venture">Venture Capital &amp; Private Equity</option>
    </optgroup>

    <optgroup label="Chemistry" id="chemistry-group">
        <option value="chemistry">Chemistry Resources</option>
        <option value="chemdata">Chemical &amp; Physical Property Data</option>
        <option value="labsafety">Chemical Laboratory Safety &amp; Methods</option>
        <option value="chemistrycareer">Career Resources for Chemistry Students</option>
    </optgroup>

    <optgroup label="Classical Studies" id="classical-studies-group">
        <option value="classical">Classical Studies</option>
    </optgroup>

    <optgroup label="Communication">
        <option value="advertising">Advertising &amp; Public Relations</option>
        <option value="communicationportal">Communication</option>
        <option value="filmstudies">Film Studies</option>
        <option value="newspapers" class="duplicate">Finding Newspapers</option>
        <option value="interpersonal">Interpersonal Communication</option>
        <option value="marketing">Marketing &amp; Advertising</option>
        <option value="massmedia">Mass Media</option>
    </optgroup>

    <optgroup label="Computer Science/IT">
        <option value="compscience">Computer Science/IT</option>
    </optgroup>

    <optgroup label="Data/Statistics/GIS">
        <option value="businessstatistics" class="duplicate">Business Statistics</option>
        <option value="census">Census</option>
        <option value="communityanalysis">Community Analysis</option>
        <option value="dataportal">Data/Statistics/GIS</option>
        <option value="dataplan">Data Management</option>
        <option value="dataviz">Data Visualization</option>
        <option value="economics" class="duplicate">Economics</option>
        <option value="edstats" class="duplicate">Education Statistics</option>
        <option value="statisticsbytopic">Find Statistics for the Social Sciences by Topic</option>
        <option value="finddata">Finding Data/Data Support</option>
        <option value="gis">Finding Spatial Data for Mapping (GIS)</option>
        <option value="foreigntrade" class="duplicate">Foreign Trade</option>
        <option value="globalpublichealth" class="duplicate">Global Public Health</option>
        <option value="healthstats" class="duplicate">Health Statistics</option>
        <option value="international">International Statistics</option>
        <option value="oecd">OECD iLibrary and OECD.Stat Help Guide</option>
        <option value="polls">Opinion Polls and Social Science Surveys</option>
        <option value="usstats">United States Statistics</option>
    </optgroup>

    <optgroup label="Earth and Environmental Sciences">
        <option value="chemistry" class="duplicate">Chemistry Resources</option>
        <option value="geology">Earth and Environmental Sciences</option>
        <option value="environmental">Environmental Studies</option>
        <option value="gensci" class="duplicate">General Science Resources</option>
    </optgroup>

    <optgroup label="Economics">
        <option value="economicsportal">Economics</option>
        <option value="foreigntrade" class="duplicate">Foreign Trade</option>
        <option value="sportseconomics">Sports Economics</option>
    </optgroup>

    <optgroup label="Education">
        <option value="childrenslit">Children's Literature</option>
        <option value="counselingpsychology" class="duplicate">Counseling, Developmental, and Educational Psychology
        </option>
        <option value="edrankings">Educational Rankings</option>
        <option value="edresearch">Educational Research</option>
        <option value="edstats">Education Statistics</option>
        <option value="psytests">Finding Tests &amp; Measures</option>
        <option value="edphilosophy">Philosophy of Education</option>
        <option value="edpaper">Writing an Education Research Paper</option>
        <option value="litreview" class="duplicate">Writing a Literature Review</option>
    </optgroup>

    <optgroup label="English Language &amp; Literature">
        <option value="englishportal">English Language &amp; Literature</option>
        <option value="aframlit" class="duplicate">African American Literature</option>
        <option value="american-studies">American Studies</option>
        <option value="childrenslit" class="duplicate">Children's Literature</option>
        <option value="englishlit">English Literature</option>
        <option value="filmstudies" class="duplicate">Film Studies</option>
        <!--option value="britishhistory" class="duplicate">British History: Selected Electronic Resources</option-->
        <option value="irishlanglit" class="duplicate">Irish Literature and Language</option>
        <option value="irishwomen" class="duplicate">Irish Women Writers</option>
        <option value="litresearch">Literary Research</option>
    </optgroup>

    <optgroup label="Environmental Studies">
        <option value="enviro-studiesportal">Environmental Studies</option>
        <option value="biology" class="duplicate">Biology</option>
        <option value="chemistry" class="duplicate">Chemistry Resources</option>
        <option value="CommonHomeLibraryGuide">Our Common Home: An Ethical Summons on Climate Change</option>
        <option value="geology" class="duplicate">Earth and Environmental Sciences</option>
        <option value="globalwarming">Climate Change</option>
        <option value="gensci" class="duplicate">General Science Resources</option>
        <option value="physics" class="duplicate">Physics Resources</option>
    </optgroup>

    <optgroup label="Film">
        <option value="filmstudies" class="duplicate">Film Studies</option>
        <option value="streamingvideo">Streaming Video and DVDs</option>
    </optgroup>

    <optgroup label="First Year Writing Seminar">
        <option value="fws">First Year Writing Seminar</option>
        <option value="catalog-help">Catalog Help</option>
        <option value="citation" class="duplicate">Citing Sources &amp; Creating Bibliographies</option>
        <option value="ethical-source-use" class="duplicate">Citing with Integrity</option>
        <option value="evaluating" class="duplicate">Evaluating Internet Sources</option>
        <option value="bookreviews" class="duplicates">Finding Book Reviews</option>
        <option value="findingimages" class="duplicate">Finding Images</option>
        <option value="newspapers" class="duplicate">Finding Newspapers</option>
        <option value="periodicals" class="duplicate">Finding Scholarly Journals</option>
        <option value="research-steps">Step by Step Guide to Research</option>
        <option value="streamingvideo" class="duplicate">Streaming Video and DVDs</option>
    </optgroup>

    <optgroup label="Gender Studies">
        <option value="genderstudies">Gender and Women's Studies</option>
        <option value="irishwomen" class="duplicate">Irish Women Writers</option>
        <option value="sociologyportal" class="duplicate">Sociology and Anthropology</option>
    </optgroup>

    <optgroup label="German Studies">
        <option value="germanstudies">German Studies</option>
    </optgroup>

    <optgroup label="Government Documents">
        <option value="americanpolitics" class="duplicate">American Politics</option>
        <option value="census" class="duplicate">Census</option>
        <option value="congpubs">Congressional Publications</option>
        <option value="execbranch">Executive Branch Publications</option>
        <option value="govdocs">Government Documents</option>
    </optgroup>

    <optgroup label="History">
        <option value="history">History</option>
    </optgroup>

    <optgroup label="Irish Studies">
        <option value="irishportal"></option>
        <!--option value="britishhistory">British History</option-->
        <option value="englishlit" class="duplicate">English Literature</option>
        <option value="irishhist">Irish History</option>
        <option value="irishlanglit">Irish Literature and Language (Irish Studies)</option>
        <option value="irishmusic">Irish Music at Boston College</option>
        <option value="irishnews">Irish News and Newspapers</option>
        <option value="irishgeneral">Irish Studies General Reference</option>
        <option value="irishwomen">Irish Women Writers (Irish Studies)</option>
        <option value="litresearch" class="duplicate">Literary Research</option>
    </optgroup>

    <optgroup label="Islamic Civilization and Societies">
        <option value="islamic">Islamic Civilization and Societies</option>
    </optgroup>

    <optgroup label="Jewish Studies">
        <option value="jewishstudiesportal">Jewish Studies</option>
    </optgroup>

    <optgroup label="Latin American Studies">
        <option value="latam">Latin American Studies</option>
        <option value="hispanic_ministry" class="duplicate">Hispanic Ministry @ Boston College</option>
    </optgroup>

    <optgroup label="Law">
        <option value="americanpolitics" class="duplicate">American Politics</option>
        <option value="businesslaw" class="duplicate">Business Law</option>
        <option value="congpubs" class="duplicate">Congressional Publications</option>
        <option value="lawportal">Law</option>
        <option value="legal">Researching a Legal Topic</option>
    </optgroup>

    <optgroup label="Linguistics">
        <option value="linguistics">Linguistics</option>
    </optgroup>

    <optgroup label="Mathematics">
        <option value="gensci" class="duplicate">General Science Resources</option>
        <option value="mathematics">Mathematics</option>
    </optgroup>


    <optgroup label="Music">
        <option value="africanmusic">African Music</option>
        <option value="irishmusic" class="duplicate">Irish Music at Boston College</option>
        <option value="music">Music</option>
        <option value="musicals">Musical Theater</option>
    </optgroup>

    <optgroup label="Nursing">
        <option value="nursingportal" class="optgrou">Nursing &amp; Health Sciences</option>
        <option value="biology" class="duplicate">Biology</option>
        <option value="chemistry" class="duplicate">Chemistry Resources</option>
        <option value="communityanalysis" class="duplicate">Community Analysis</option>
        <option value="healthstats">Health Statistics</option>
        <option value="nursing">Nursing</option>
    </optgroup>

    <optgroup label="Philosophy">
        <option value="philosophy">Philosophy</option>
    </optgroup>

    <optgroup label="Physics">
        <option value="chemdata" class="duplicate">Chemical &amp; Physical Property Data</option>
        <option value="labsafety" class="duplicate">Chemical Laboratory Safety &amp; Methods</option>
        <option value="physics">Physics</option>
    </optgroup>

    <optgroup label="Political Science">
        <option value="polisciportal">Political Science</option>
        <option value="americanpolitics">American Politics</option>
        <option value="congpubs" class="duplicate">Congressional Publications</option>
        <option value="execbranch" class="duplicate">Executive Branch Publications</option>
        <option value="govdocs" class="duplicate">Government Documents</option>
        <option value="InternationalStudies">International Studies</option>
        <option value="legal" class="duplicate">Researching a Legal Topic</option>
    </optgroup>

    <optgroup label="Psychology">
        <option value="apa">APA Style Guide</option>
        <option value="counselingpsychology">Counseling, Developmental, and Educational Psychology</option>
        <option value="psytests">Finding Tests &amp; Measures</option>
        <option value="neuro">Neuroscience &amp; Cognitive Psychology</option>
        <option value="psychoanalysis">Psychoanalytic Studies</option>
        <option value="psychology">Psychology</option>
    </optgroup>


    <optgroup label="Romance Languages and Literatures">
        <option value="french">French Language and Literature</option>
        <option value="hispanicstudies">Hispanic Studies</option>
        <option value="italian">Italian Language and Literature</option>
    </optgroup>


    <optgroup label="Slavic and Eastern Languages and Literatures">
        <option value="islamic" class="duplicate">Islamic Civilization and Societies</option>
        <option value="russian">Russian Language &amp; Literature</option>
        <option value="slavicportal">Slavic and Eastern Languages and Literatures</option>
    </optgroup>

    <optgroup label="Social Work">
        <option value="socialworkportal">Social Work Portal</option>
        <option value="swlchild">Children &amp; Families</option>
        <option value="sw856">Clinical Practice with Adults</option>
        <option value="swdata">Data Sources for Social Workers</option>
        <option value="swebp">Evidence-Based Practice</option>
        <option value="global">Global Practice</option>
        <option value="swlclinical">Health &amp; Mental Health</option>
        <option value="swlgerontology">Older Adults &amp; Families</option>
        <option value="phd">PhD Student Resources</option>
        <option value="socinnovation">Social Innovation</option>
        <option value="measures">Tests and Measures</option>
    </optgroup>

    <optgroup label="Sociology &amp; Anthropology">
        <option value="finddata" class="duplicate">Finding Data/Data Support</option>
        <option value="genderstudies" class="duplicate">Gender Studies</option>
        <option value="latam" class="duplicate">Latin American Studies</option>
        <option value="socy334">Religion &amp; Migration</option>
        <option value="aging">Sociology of Aging</option>
        <option value="sport">Sociology of Sport</option>
    </optgroup>

    <optgroup label="Theater &amp; Dance">
        <option value="dance">Dance Studies</option>
        <option value="filmstudies" class="duplicate">Film Studies</option>
        <option value="litresearch" class="duplicate">Literary Research</option>
        <option value="theaterstudies">Theater Studies</option>
    </optgroup>

    <optgroup label="Theology/Theology &amp; Ministry">
        <option value="biblical-studies">Biblical Studies</option>
        <option value="hispanic_ministry">Hispanic Ministry @ Boston College</option>
        <option value="islamic" class="duplicate">Islamic Civilization and Societies</option>
        <option value="theology">Theology</option>
    </optgroup>

    <optgroup label="Course Guides">
        <!--option value="FA221">ARTH 2221: Mysteries and Visions: Art of the Early Middle Ages</option-->
        <option value="FA222">ARTH 2222: Imagination and Imagery:Later Medieval Art</option>
        <option value="AsianArt">ARTH 2228: Survey of Asian Art</option>
        <option value="chinese_visual_culture">ARTH 2244: Chinese Visual Culture</option>
        <option value="FA258">ARTH 2258: Twentieth Century Art</option>
        <option value="FA350">ARTH 3350: The Object in Islamic Art</option>
        <option value="FA356">ARTH 3356: Art Since 1945</option>
        <option value="FA409">ARTH 4409: Islamic Book</option>
        <option value="FA427">ARTH 4427:Early Medieval Art in Ireland & Britain</option>
        <option value="biol2040">BIOL 2040 Investigations in Molecular Cell Biology</option>
        <option value="biol4400">BIOL 4400: Molecular Biology</option>
        <option value="biol5130">BIOL 5130: Environmental Disruptors of Development</option>
        <!--option value="co030">CO 030: Public Speaking</option-->
        <!--option value="co372">CO 372: Mass Communication Theory</option-->
        <!--option value="co374">CO 374-01 &amp; 02 : Human Communication Theory</option-->
        <!--option value="co375">CO 375: Argumentation Theory</option-->
        <!--option value="co425">CO 425: Broadcast Century Issues</option-->
        <!--option value="co426">CO 426: Television &amp; Society</option-->
        <!--option value="co429">CO 429: Globalization &amp; the Media</option-->
        <option value="co436">CO 436: Rhetorical Criticism</option>
        <!--option value="co442">CO 442-1: Intercultural and International Communication</option-->
        <!--option value="co449">CO 449: Crisis Communication</option-->
        <!--option value="co451">CO 451: Gender Roles &amp; Communication</option-->
        <!--option value="co458">CO 458: Radio in Culture &amp; Society</option-->
        <option value="waterresources">CO21201/AD14002 Water Resources and the Environment</option>
        <option value="econindicators">ECON 222901/MHON339801: Forecasting/Thesis Research</option>
        <option value="fandom">EN 010-43: Fans &amp; Fandom</option>
        <option value="historicboston">EN 501/HS 522 Imaginary Walks in Old Boston</option>
        <option value="imaginarywalks">EN40401: Literary Boston, 1790-1860 -- Imaginary Walks in Old Boston</option>
        <option value="nugent">ENGL333901: Digital Text, Material Image</option>
        <option value="beckett">ENGL8805: Beckett</option>
        <option value="ENGL8887">ENGL8887 : Introduction to Advanced Research</option>
        <option value="FA108">FA 108: Great Art Capitals of Western Europe</option>
        <option value="FA174">FA 174: Islamic Civilization</option>
        <!--option value="FA335">FA 335: Italian Palaces from 1450 to 1650</option-->
        <!--option value="FA405">FA 405: Vienna 1900</option-->
        <option value="fa426">FA 426: Loot: Collecting Art in Italy</option>
        <option value="FA461">FA 461: Frank Lloyd Wright</option>
        <option value="FA464">FA 464: Boston Architecture</option>
        <option value="FA473">FA 473: Art of the Mediterranean</option>
        <option value="fws">FWS (First Year Writing Seminar) Portal</option>
        <option value="rudner">FWS--Professor Rudner--Library Guide</option>
        <option value="HS247">HS 247: Irish Material Culture: 1770-1930</option>
        <option value="lawandeducationreform">Law and Education Reform (ELHE760901)</option>
        <option value="nursinggis">NU7472: Geographic Information Systems for Public Health</option>
        <option value="nurs4260">NURS 4260 Nursing Population and Health</option>
        <option value="nurs6400">NURS 6400 Community Assessment</option>
        <option value="psap">PSAP (LSOE) Doctoral Students Library Guide</option>
        <option value="Iberian_Peninsula">RLRL 3328: Islam and the Iberian Peninsula</option>
        <option value="socy/eesc1501">SOCY1501/EESC1501: Global Implications of Climate Change</option>
        <option value="sport">Sociology of Sport</option>
        <option value="FashionandDecor">THTR 3377: Fashion and Decor: A Cultural History</option>
        <option value="piatelli">UNAS2254/SOCY2254/AADS2248: Comm Serv Research I</option>
    </optgroup>

    <optgroup label="General">
        <option value="articleinfluence">Assessing Article and Author Influence</option>
        <option value="catalog-help" class="duplicate">Catalog Help</option>
        <option value="chicago-style">Chicago Manual of Style</option>
        <option value="citation">Citing Sources &amp; Creating Bibliographies</option>
        <option value="ethical-source-use">Citing with Integrity</option>
        <option value="climatechange" class="duplicate">Climate Change</option>
        <option value="bookreviews">Finding Book Reviews</option>
        <option value="findingimages">Finding Images</option>
        <option value="newspapers">Finding Newspapers</option>
        <option value="periodicals">Finding Scholarly Journals</option>
        <option value="apa">A Guide to APA Style</option>
        <option value="CommonHomeLibraryGuide" class="duplicate">Our Common Home: An Ethical Summons on Climate Change</option>
        <option value="litreview">Writing a Literature Review</option>
    </optgroup>

</select>