<ol class="breadcrumb" id="s-lib-bc-list">
    <li id="s-lib-bc-customer">
        <a href="http://library.bc.edu" title="Libraries">Libraries
        </a>
    </li>
    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits" title="Library Exhibits">Library Exhibits
        </a>
    </li>

    {% if article.location == "burns" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/burns" title="Burns Library Exhibit Archives">Burns Library Exhibit
            Archives</a></li>

    {% endif %}

    {% if article.location == "tml" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/tml" title="Theology and Ministry Library Exhibit Archives">Theology and
            Ministry Library Exhibit Archives</a></li>

    {% endif %}

    {% if article.location == "lvl1" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/lvl1" title="O'Neill Level One Gallery Archives">O'Neill Level One
            Gallery Archives</a></li>

    {% endif %}

    {% if article.location == "lvl3" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/lvl3" title="O'Neill Level Three Gallery Archives">O'Neill Level Three
            Gallery Archives</a></li>

    {% endif %}

    {% if article.location == "reading" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/reading" title="O'Neill Reading Room Archives">O'Neill Reading Room
            Archives</a></li>
    {% endif %}

    {% if article.location == "backwall" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/backwall" title="O'Neill Reading Room Back Wall Archives">O'Neill
            Reading Room Back Wall Archives</a></li>

    {% endif %}

    {% if article.location == "lobby" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/lobby" title="O'Neill Lobby Archives">O'Neill Lobby Archives</a></li>

    {% endif %}

    {% if article.location == "stokes" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/stokes" title="History Dept, Stokes Hall Archives">History Dept, Stokes
            Hall Archives</a></li>
    {% endif %}

    {% if article.location == "bapst" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/bapst" title="Bapst Library Exhibit Archives">Bapst Library Exhibit
            Archives</a></li>

    {% endif %}

    {% if article.location == "bapstarchive" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/bapst" title="Bapst Library Exhibit Archives">Bapst Library Exhibit
            Archives</a></li>

    {% endif %}

    {% if article.location == "virtual" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/virtual" title="Burns Virtual Exhibits">Burns Virtual Exhibits</a></li>

    {% endif %}

    {% if article.location == "tip" %}

    <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits/tip" title="Tip O'Neill Exhibit">Tip O'Neill Exhibit</a></li>

    {% endif %}

</ol>

<div class="exhibit_page">

    <!-- THIS IS THE LOGIC TO CHANGE THE LOCATION OF THE EXHIBIT -->
    <div class="blackband {{ article.location }}">

        <div class="bandcenter">

            {% if article.location == "burns" %}

            <h2>Burns Library Exhibits</h2>
            <p>Four wall cases featuring exhibits highlighting collections in the Burns Library.<br/>
                <a href="../../../burns" class="arrow">Return to the Burns Library Archives</a></p>

            {% endif %}

            {% if article.location == "tml" %}

            <h2>Theology and Ministry Library Exhibits</h2>
            <p>Approximately 90 linear feet of space along three walls fitted with picture rail on the lower level
                Theology and Ministry Library. Exhibits are sought which are consistent with the Jesuit mission of
                Boston College and, more specifically, with the mission and values of the School of Theology and
                Ministry.<br/>
                <a href="../../../tml" class="arrow">Return to the TML Archives</a></p>

            {% endif %}

            {% if article.location == "lvl1" %}

            <h2>O'Neill Level One Gallery Exhibits</h2>
            <p>Level One Gallery is an exhibition area in the O'Neill Library. Current students, alumni, faculty
                members, and Boston College staff are encouraged to submit exhibition proposals.<br/>
                <a href="../../../lvl1" class="arrow">Return to the O'Neill Level One Gallery Archives</a></p>

            {% endif %}

            {% if article.location == "lvl3" %}

            <h2>O'Neill Level Three Gallery Exhibits</h2>
            <p>Level Three Gallery is an exhibition area in the O'Neill Library. Faculty members and alumni are
                encouraged to submit exhibition proposals.<br/>
                <a href="../../../lvl3" class="arrow">Return to the O'Neill Level Three Gallery Archives</a></p>

            {% endif %}

            {% if article.location == "reading" %}

            <h2>O'Neill Reading Room</h2>
            <p>There are three horizontal cases in the O’Neill Reading Room, featuring special collections from the John
                J. Burns Library.<br/>
                <a href="../../../reading" class="arrow">Return to the O'Neill Reading Room Archives</a></p>

            {% endif %}

            {% if article.location == "backwall" %}

            <h2>O'Neill Reading Room Back Wall</h2>
            <p>There are three horizontal cases against the Back Wall of the O’Neill Reading Room.<br/>
                <a href="../../../backwall" class="arrow">Return to the O'Neill Reading Room Back Wall Archives</a></p>

            {% endif %}

            {% if article.location == "lobby" %}

            <h2>O'Neill Library Level Three Lobby</h2>
            <p>Exhibits in O’Neill are part of the Library's educational outreach and are specifically created to
                stimulate interest in, and encourage further study of, the topics showcased in the displays. One case is
                devoted to campus events, and the remaining are open to exhibits which highlight collections, spotlight
                interesting research being done on campus, explore current and/or historically important events, or
                demonstrate cultural trends and their significance for the BC community.<br/>
                <a href="../../../lobby" class="arrow">Return to the O'Neill Library Level Three Lobby Archives</a></p>

            {% endif %}

            {% if article.location == "stokes" %}

            <h2>History Department, Stokes Hall</h2>
            <p>The History Department in Stokes Hall features exhibits collaborated with the Boston College Libraries
                for the course HS600 Making History Public. The exhibits change each semester.<br/>
                <a href="../../../stokes" class="arrow">Return to the History Department, Stokes Hall Archives</a></p>

            {% endif %}

            {% if article.location == "bapst" %}

            <h2>Bapst Library Archived Exhibits</h2>
            <p>One exhibit case in Gargan Hall as well as two cases found outside Gargan Hall. Exhibit space is used to
                highlight books in the collection and selected items from the University Archives.<br/>
                <a href="../../../bapst" class="arrow">Return to the Bapst Library Archives</a></p>

            {% endif %}

            {% if article.location == "virtual" %}

            <h2>Burns Library Virtual Exhibits</h2>
            <p></p><br/>

            {% endif %}

            {% if article.location == "tip" %}

            <h2>Tip O'Neill Exhibit</h2>
            <p><br/></p>

            {% endif %}
        </div>
    </div>

    <div id="individualpage" class="{{ article.style }}">

        <div class="exhibittitle">
            <h3>
                {{ article.title }} <br/>
                <span class="subtitle">{{ article.subtitle }}</span>
            </h3>

            <p><span class="date"><em>{{ article.date_range }}</em></span><br/>
                <span class="sponsor">{{ article.sponsor }}</span>
            </p>

        </div>

        <div class="article_content">

            <div class="poster">
                <img src="/theme/img/exhibits/{{ article.location }}/{{ article.image }}" alt="{{ article.image_alt }}">
            </div>

            <div class="text">
                {{ article.content }}
            </div>

        </div>

        <!-- THIS CONTENT EXIST IN THE OFF CHANCE THAT WE NEED TEXT ON TOP OF POSTER -->
        <div class="article_content_two">

            <div class="text">
                {{ article.content }}
            </div>

            <div class="poster">
                <img src="/theme/img/exhibits/{{ article.location }}/{{ article.image }}" alt="{{ article.image_alt }}">
            </div>

        </div>

    </div>

</div>