/*#all-results #primary, #all-results #secondary {
    padding-right: 3em;
}*/

/** Accessible hide class. **/
#all-results .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Typeahead stuff - Handle with care
----------------------------*/

/** Script default styles. **/
#newsearch .dropdown-menu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#newsearch .dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    color: #333333;
    white-space: nowrap;
}

#newsearch .dropdown-menu .active a, #newsearch .dropdown-menu .active a:hover, #newsearch .dropdown-menu .active a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}

/** Locally customized typeahead stuff. **/
#block_search form {
    float: left;
    width: 100%;
}

.typeahead-subject {
    font-size: .85em;
    color: #888;
    text-align: right;
    display: inline-block;
    width: 20%;
}

.typeahead-label {
    display: inline-block;
    width: 80%;
    overflow: hidden
}

.twitter-typeahead {
    width: 100%;
    top: 3px;
}

.twitter-typeahead .tt-dropdown-menu {
    width: 100%;
}

.active .typeahead-subject {
    color: #ddd;
}

/** End typeahead stuff **/

/** Start results stuff **/
#all-results {
    padding-top: 0;
}

#all-results #primary .result-container h3, #all-results #secondary .result-container h3 {
    display: inline-block;
    font-size: 1.25em;
    font-weight: normalq;
}

/** More results link **/
#all-results .more-results-link {
    display: inline-block;
}

#all-results .loading {
    background: #fff url(../img/loading-circle.gif) no-repeat center center;
}

#all-results .result-container ul {
    padding: 0;
    margin: 0;
    clear: left;
}

#all-results .result-container li .title {
    text-decoration: none;
    color: #0075b0;
    font-weight: bold;
}

#all-results .result-container .creator {
    color: #666;
}

/** Librarian & guide results. **/
#all-results h4 {
    margin: 0 !important;
}

.librarians img {
    max-width: 100px;
}

.librarian-info p {
    font-size: 14px;
}

#all-results #librarian-info p, #all-results .guide-description {
    color: #666;
    font-size: 14px;
}

#tertiary .visible-also-try a {
    font-size: 16px;
}

#all-results .result-container .publisher {
    color: #888;
}

#all-results .outside-result a, #all-results .more-results-link a {
    text-decoration: none;
    color: #0075b0;
}

#all-results .outside-result {
    clear: left;
}

/** Librarian/Subject guide results. **/
#all-results h4 {
    margin: 0;
}

#all-results .librarian-subject, #all-results .guide-description {
    color: #666;
}

/** End Librarian result. **/

/** Covers **/

#all-results .cover-image {
    /*width: 20%;
    float: left;
    padding-top: 1.5em*/
}

#all-results .catalog-text.has-cover {
    /*width: 80%;
    float: left;
    padding-right: 1em*/
}

/** end covers **/

#all-results .result-container ul.bento-results li {
    overflow: hidden;
    clear: both;
    margin-bottom: 1em
}

#all-results .open-result-tools {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    width: .6em;
    height: .6em;
}

#all-results .open-result-tools:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}

#all-results .type {
    color: #666;
}

.result-tools {
    background: #f2f2f6;
    height: 40px;
    overflow: hidden;
}

/** Result tools opening animation **/

.result-tools.ng-hide-add, .result-tools.ng-hide-remove {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    display: block !important;
}

.result-tools.ng-hide-add.ng-hide-add-active,
.result-tools.ng-hide-remove {
    height: 0;
}

.result-tools.ng-hide-add,
.result-tools.ng-hide-remove.ng-hide-remove-active {
    height: 40px;
}

/** end result tools animation **/

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #430000;

}

.tt-suggestion p {
    margin: 0;
}

.tt-suggestion {
    cursor: pointer;
}

.typeahead-type {
    color: #ddd;
}

#all-results .result-container ul li {
    list-style: none;
}

#all-results .result-container ul li.item-info:before {
    content: '✓';
    font-weight: bold;
    font-size: 16px;
    color: #0f7d00;
}

#all-results .result-container ul li.item-info.unavailable:before {
    content: '✗';
    color: inherit;
}

#all-results .result-container ul li.item-info.unavailable {
    color: #999;
}

.dym-notice {
    display: inline-block;
    zoom: 1;
    background-color: lightyellow;
    padding: .3em .5em;
    border: 1px dotted gray;
}

div#didyoumean-holder {
    text-align: center;
    /*height: 3em;*/
}

.bento-result {
    margin-bottom: 1.7em;
    clear: left;
}

#bentoboxresults {
    min-height: 500px;
    padding-top: 0;
}

#bentoboxresults h2 {
    /* font-weight: bold; */
    text-transform: none;
    font-size: 24px;
}

.librarian-name a {
    font-size: 14px;
    font-weight: bold;
}

.dym-notice a {
    font-weight: bold;
}

#website-results li {
    margin-bottom: 1rem;
}

#librarians-results .all-librarians {
    margin-top: 1em;
}

#librarians-results .librarian > a {
    display: block;
    float: left;
    width: 100px;
    margin-right: 1em;
}

#librarians-results .results-highlight {
    margin-bottom: 10px;
}

.results-highlight {
    background-color: #F9F7E9;
    border: 1px solid #dfddcf;
    border-radius: 10px;
    padding: .5em 1em;
    color: black;
}

#website-results ul.guide-pages {
    padding: 4px 0 0 25px;
    list-style: circle;
}

#website-results ul.guide-pages li {
    list-style: circle;
    margin-bottom: 0;
    overflow: visible;
}

#website-results ul.guide-pages li a {
    font-weight: normal;
}

#website-results .more-results-link {
    top: -6px;
    position: relative;
}

#all-results .result-container {
    display: block;
}

#all-results .result-container#librarians-results ul li:last-child {
    margin-bottom: 2.5em;
}

#all-results .loading {
    background: #fff url(../img/loading-circle.gif) no-repeat center center;
}

.librarian {
    clear: left;
    padding-top: 1em;
    overflow: hidden;
}

.results-highlight h3 {
    font-size: 1.25em;
}

div#website-results {
    padding-top: 0;
    padding-bottom: 0;
}

#faq-results a {
    line-height: 1.5;
    /* margin-bottom: 1em; */
}

#faq-results li {
    margin-bottom: 1em;
}

h2#faqh3 {
    /*margin-top: 0;*/
}

#tertiary .more-results-link,
#tertiary .no-results-found {
    padding-left: 1em;
    margin-top: .5em;
    margin-bottom: 2em;
}
#tertiary .no-results-found {
    padding-left: 0;
    margin-bottom: 4em;
}

#tertiary h2 {
    /*margin-top: 0;*/
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
}

#tertiary h2#faqh3 {
    padding-bottom:20px;
}

@media ( max-width: 991px ) {
    #tertiary h2#faqh3 {
        padding-bottom:10px;
    }
    .librarians img {
        max-width: 150px;
    }
}

#tertiary {
    /*margin-top: 4px;*/
}

#all-results .result-container ul.worldcat-suggestions li {
    list-style: disc;
    margin-left: 1em;
}

#all-results #primary .worldcat-results h3 {
    margin-top: 0;
    font-size: 1em;
    font-weight: 600;
}

#all-results #primary .worldcat-results {
    background-color: #f2f2f1;
    padding: 1em;
    border: 1px solid #cdcccc;
    border-radius: 10px;
}

#askus-container {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    margin: 2rem 0 2rem 0;
}

#bentoboxresults .bento-results {
    margin-bottom: 5rem;
}

#bentoboxresults .bento-results-item.media {
    border-top: 1px solid #ddd;
    margin: 1rem 1.25rem 1rem 0;
    padding: 2rem 0 1rem 0; 
}

#bentoboxresults #secondary .bento-results-item.media {
    margin: 1rem 0 1rem 0rem;
}

#bentoboxresults .bento-results-item.media img {
    max-width: 120px;
}

.avail-link, .avail-link:hover {
    color: inherit;
    text-decoration: inherit;
    font-size: 14px;
}

.available-online a, .available-online a:hover {
    font-size: 14px;
}

.avail-link span.library {
    color: #0f7d00;
    margin-right: .25em;
}

.avail-link .callno, .avail-link .location {
    color: #204375
}