/** Layout **/

#all-results {
    margin-top: 1em;
}

#all-results #primary, #all-results #secondary, #all-results #tertiary {
    float: left;
}

/** End layout **/

/** All results **/

#all-results #primary .result-container h3, #all-results #secondary .result-container h3, #all-results #tertiary .result-container h3 {
    display: inline-block
}

/** More results link **/
#all-results .more-results-link {
    display: inline-block;
}

#all-results .loading {
    background: #fff url(../img/loading-circle.gif) no-repeat center center;
}

#all-results .result-container ul {
    padding: 0;
    margin: 0;
    clear: left;
}

#all-results #librarians-results.result-container ul {
    padding: 0 0 0 7px;
}

#all-results #librarians-results.result-container ul li{
    padding-top: 10px;
}

#all-results .result-container ul li {
    list-style: none;
    overflow: hidden;
    clear: both;
}

#all-results .result-container li .title, .result-container li a, p.all-librarians a {
    text-decoration: none;
    color: #0075b0;
    font-weight: bold;
}

#all-results .result-container .creator {
    color: #666;
}

#all-results .result-container .publisher {
    color: #888;
}

#all-results .outside-result a, #all-results .more-results-link a {
    text-decoration: none;
    color: #0075b0;
}

#all-results .outside-result {
    clear: left;
}

#all-results .type {
    color: #666;
}

/** end all results **/

/** Catalog results **/

#all-results .cover-image {
    width: 20%;
    float: left;
}

#all-results .catalog-text.has-cover {
    width: 80%;
    float: left;
    padding-right: 1em
}

#all-results .catalog-metadata {
    font-size: .9em;
}

/** end catalog results **/

/** Librarian & guide results. **/
#all-results h4 {
    margin: 0 !important;
}

.librarians img {
    max-width: 100%
}

.librarian-info p {
    font-size: 14px;
}

#all-results #librarian-info p, #all-results .guide-description {
    color: #666;
    font-size: 14px;
}

#tertiary .visible-also-try a {
    font-size: 16px;
}

/** End Librarian & guide result. **/

/* Typeahead */
/* See https://github.com/twitter/typeahead.js/blob/master/doc/jquery_typeahead.md#user-content-look-and-feel */

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-dropdown-menu {
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #430000;
}

input#typeahead {
    line-height: 20px;
}

.typeahead-type {
    color: #ddd;
}

.twitter-typeahead {
    float: left;
    width: 600px;
}

#block_search input[type=text] {
    width: 600px;
    height: 33px;
    float: left
}

#block_search input[type=text]#typeahead {
    width: 610px;
}

@media ( max-width: 1199px ) {
    .twitter-typeahead {
        float: left;
        width: 90%;
    }

    #block_search input[type=text] {
        width: 100%;
        height: 33px;
        float: left
    }

    #block_search input[type=text]#typeahead {
        width: 100%;
    }
}

@media ( max-width: 768px ) {
    .twitter-typeahead {
        float: none;
        width: 100%;
    }
}

#guides-results {
    margin-bottom: 1em;
}

/* End typeahead */

#midlevelcontainer {
    min-height: 400px;
}

#catalog-results {
    min-height: 500px;
}

.librarian-name a {
    font-size: 14px;
}

.dym-notice a {
    font-weight: bold;
}
#all-results #primary {
    margin: 0;
    border-left: 5px solid #fff;
    padding-right: 2em;
}


#all-results #secondary {
    margin: 0 0 5px;
    padding: 0 2em;
}

#all-results #tertiary {
    border-left: 5px solid #fff;
    padding-left: 2em;
}

@media screen and  (min-width: 1200px) {
    #all-results #secondary {
        width: 33%;
    }

    #all-results #primary {
        width: 33%;
    }

    #all-results #tertiary {
        width: 33%;
    }
}

@media screen and ( max-width: 1199px ) {
    #all-results #primary {
        margin: 0;
        border-left: 5px solid #fff;
        padding-right: 2em;
    }

    #all-results #secondary {
        margin: 0 0 5px;
        padding: 0 2em;
    }

    #all-results #tertiary {
        border-left: 5px solid #fff;
        padding-left: 0;
        margin-bottom: 2em;
    }
}


@media screen and ( max-width: 768px ) {
    #all-results #tertiary #guides-results {
        float: none;
        width: 100%;
        margin-left: 0;
    }

    #all-results #tertiary #librarians-results {
        float: none;
        width: 100%;
    }

    #all-results #tertiary #librarians-results li {
        display: block;
        width: 100%;
    }

    #all-results #tertiary #librarians-results img {
        height: 200px;
        height: auto;
    }
}

#website-results li {
    margin-bottom: 1em;
}

#librarians-results li > a {
    display: block;
    float: left;
    width:  100px;
    margin-right: 1em;
}

#librarians-results .results-highlight {
    margin-bottom:10px;
}

#librarians-results .results-highlight,
#website-results .results-highlight {
    background-color: #fffdf6;
    border: 1px solid #ffeaae;
    border-radius: 10px;
    padding: 0 5px 10px 10px;
}

#librarians-results .results-highlight {
    padding-bottom: 0;
    margin-bottom: 1em;
}

#website-results ul.guide-pages {
    padding:4px 0 0 25px;
    list-style: circle;
}

#website-results ul.guide-pages li {
    list-style: circle;
    margin-bottom: 0;
    overflow: visible;
}

#website-results ul.guide-pages li a {
    font-weight:normal;
}

#website-results .more-results-link {
    top: -6px;
    position: relative;
}

#all-results .result-container {
    display: block;
}

#all-results .result-container#librarians-results ul li:last-child {
    margin-bottom: 2.5em;
}

#tertiary .title {
    font-size: 18px;
}