/* NEWS ROW STUFF FROM SUMMER 2019 */

/* news */
.homepagerefresh #news {
    padding: 0 1em;
}

.homepagerefresh #news .more-news{
    text-align: right;
}

/* quick links */

.ql-news h2 {
    font-size: 18px;
    margin: 10px 0 0;
    padding: 0 0 10px 0;
}

.ql-news .ql h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}

.ql {
    background-color: #d7d7d7;
    padding: 10px;
}


.ql .list-group {
    margin-bottom: 0px;
    list-style: none;
}

.ql .list-group-item {
    background-color: transparent;
    border: 0px solid #fff;
    padding: 10px 5px;
    border-radius: 0px;
}

.ql .fa-lg {
    padding-right: 5px;
}

/* HOMEPAGE NEWS ROW STYLING */

#news .news-top {
    border: 1px solid red;
}

#news .news-bottom {
    border: 1px solid green;
}

#news .news-bottom .news-content:nth-child(n+1):nth-child(-n+2) {
    display: none;
}

#news .news-top .news-content {
    border: 1px solid #a25729;
    /*max-height: 290px;
    max-width: 290px;*/
    overflow: hidden;
    position: relative;
}

#news .news-bottom .news-content {
    border: 1px solid #a25729;
    max-height: 290px;
    min-width: 290px;
    overflow: hidden;
    position: relative;
}

#news .news-content img {
    width: 100%;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#news .news-content:hover img  {
    opacity: .8;
}

.newsitem .yes {
    margin: 0 ;
}

.newsitem .no {
    margin: -9999px;
}

.newstext {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    display: block;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    background: #a25729;
}


/* NEWS ARCHIVE STUFF */

.news_listing {
    margin-bottom: .5em;
}

.news_listing img {
    float: left;
    width: 25%;
    margin: 1em;
    border: 1px solid #000;
}

.news_archives .row {
    margin-bottom: 0em;
    padding: .5em 0;
}

.news_archives h4 {
	margin-bottom: 0em;
}

.news_archives .archive_date {
	font-style: italic;
	font-size: 12px;
}