@charset "utf-8";

body {
    background: #fff 0% 0%;
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 14px;
    padding: 0;
    line-height: 1.75;
}

/* temp overrides */
.homepagerefresh .accessibility-text {
    display: none;
}

/*  boostrap overrides  */
.row {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* top level maroon bar */
#bclib-top-bar {
    background: #8a100b no-repeat 100% 0%;
    border-bottom: 1px solid #dccaa0;
    color: #fff;
    height: 40px;
}

/* content sections */
.homepagerefresh #header {
    background-color: blue;
}

.homepagerefresh #db-rg-hours {
}
.homepagerefresh #db-rg-hours .list-group-item {
    border:none;
}

.homepagerefresh #quick-links {
    background-color:#dfddcf;
    text-align: center;
}
.homepagerefresh #quick-links h3 {
    text-align: center;
}
.homepagerefresh #quick-links a {
    text-decoration: none;
}
.homepagerefresh #quick-links p {
    font-style: italic;
    padding-top: .5em;
}

.homepagerefresh #ds-highlight {
    background-color: #ccc;
}

.homepagerefresh #scholarship {
    text-align: center;
}
.homepagerefresh #scholarship h3 {
    text-transform: uppercase;
}

.homepagerefresh #exhibit-highlight {
    background-color: cyan;
}

.homepagerefresh #digcol-highlight {
    background-color: #C0C0C0;
}

.homepagerefresh #lib-footer {
    background-color: #8a100b;
    color: #fff;
    border-top: 4px #b29d6c solid;
}

.homepagerefresh #bc-footer {
    background-color: #501315;
    color: #b7b7b7;
}

