@charset "utf-8";


#db-rg-hours .list-group {
	margin-bottom: 0px;
}

/* BUTTON STYLING */

.content .btn.btn-default, #db-rg-hours .btn, #exhibit-highlight .btn {
    padding: 12px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #555;
    /*text-transform: uppercase;*/
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ddd;
    white-space: normal;
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
}
 
.content .btn.btn-blue, #db-rg-hours .btn.btn-blue, #exhibit-highlight .btn.btn-blue {
	color: #dddddd;
    background: #204375;
}

.content .btn.btn-blue:hover, #db-rg-hours .btn.btn-blue:hover, #exhibit-highlight .btn.btn-blue:hover {
    color: #fff;
    background: #1d3c68;
}

.row.nobottom {
	padding-bottom: 0px;
}

.row.notop {
	padding-top: 0px;
}

/* HOMEPAGE NEWS ROW STYLING */

#news h2 a {
	font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 0 10px;
    /*color: #555;*/
    border-bottom: 1px solid;
}

#news h2 a:hover {
	/*border-bottom: 4px solid #501315;*/
	text-decoration: none;
}

#news .news-content {
	border: 1px solid #a25729;
	max-height: 290px;
	max-width: 290px;
	overflow: hidden;
	position: relative;
}

#news .news-content img {
	width: 100%;
	transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

#news .news-content:hover img  {
	opacity: .8;
}

.newsitem .yes {
    margin: 0 ;
}

.newsitem .no {
    margin: -9999px;
}

.newstext {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    /*text-transform: uppercase;*/
    display: block;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
    background: #a25729;
}

/* HOMEPAGE EXHIBIT ROW STYLING */

.homepagerefresh #exhibit-highlight {
	display: inline-block;
	width: 100%;
	min-height: 150px;
	background: url("/theme/img/exhibits/banner_default.jpg") no-repeat 0% 100% #101010;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	color: #fff;
	z-index: 2;
	background-size: cover;
}

#exhibit-highlight h2 {
	font-weight: 600;
	/*text-transform: uppercase;*/
	color: #fff !important;
	/*font-size: 16px;*/
    letter-spacing: 2px;
	margin: 0;
}

.exhibit-box {
	background: rgba(255,255,255,0.75);
	max-width: 75%;
	height: 300px;
	margin: auto;
	padding: 20px;
}

.exhibit-box .row {
	height: 100%;
}

a.current-exhibits-title {
	color: #000 !important;
	font-size: 20px;
    line-height: 22px;
    font-weight: 400;
    /*text-transform: uppercase;*/
}

.exhibit-box .exhibit-left {
	height: 100%;
}
.exhibit-box .exhibit-right {
	text-align: right;
	height: 100%;
}

.exhibit-box .exhibit-left p {
	color: #000;
	text-align: left;
	font-size: 18px;
	line-height: 28px;
	font-weight: 200;
}

.exhibit-poster {
	max-width: 100%;
	max-height: 100%;
	border: 1px solid #000;
}

@media (max-width: 991px) {
	#news .news-content {
		margin: 0 auto 2em auto;
	}
	.exhibit-box .exhibit-left {
		text-align: left;
	}
}

/* EXHIBIT SLIDER OVERWRITES */

#exhibit-highlight .carousel-control.left, #exhibit-highlight .carousel-control.right {
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
	.exhibit-right {
		display: none;
	}
}

@media (max-width: 600px) {
	.more-exhibits-button {
		display: none;
	}
}


@media (max-width: 480px) {
	.carousel-indicators {
		display: none;
	}

	.exhibit-blurb {
		display: none;
	}
}

/* FOUND TEMPLATE HERE: http://www.bc.edu/bc-web/academics.html */