/* story box */
.homepagerefresh #storybox .story-selectors {
    padding: 0;
    text-align: center;
}

.homepagerefresh #storybox .row {
    margin-bottom: 0;
    padding-bottom: 0;
}

.homepagerefresh #storybox figure {
    position: relative;
}

.homepagerefresh #storybox .story img {
    width: 100%
}

.homepagerefresh #storybox .story figcaption {
    font-weight: 700;
    padding: 0 5px;
    letter-spacing: 1px;
    background: #501315;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.homepagerefresh #storybox .story figcaption.blue {
    background-color: #204375;
}

.homepagerefresh #storybox .story a figcaption  {
    color: #fff;
}

.homepagerefresh #storybox .story figcaption a:hover {
    color: #fff;
}

.homepagerefresh #storybox .story-selectors img.selector {
    width: 87px;
    margin-bottom: 1em;
    opacity: .55;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
}

.homepagerefresh #storybox .story-selectors .selector.selected-selector {
    opacity: 1;
    background: lightblue;
}

@media (max-width: 991px) {
    #storybox {
        background-color:#ebebeb;
        padding-bottom: 1em;
    }
}
@media (min-width: 768px) {
    .homepagerefresh #storybox .story-display {
        padding-right: 0;
    }
}