{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block pagestyles %}
<style>
    #contact-us-form {
        min-height: 540px;
    }
    .homepagerefresh #header {
        height: initial;
    }
    div#s-la-widget-5656 {
        max-width: 800px;
        margin: 16px auto;
        font-family: "Open sans", sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<div id="contact-us-form">
    <div id="s-la-widget-5656"></div>
</div>
{% endblock %}

{% block pagescripts %}
<script src="//api2.libanswers.com/1.0/widgets/5656"></script>

<script>
    $(document).ready(function () {
        // add in referrer string into hidden form field 'url'
        var referrer = document.referrer;
        console.log("referrer: " + referrer);
        var urlFormField = "#s-la-widget-5656 fieldset#s-la-askform-section-6398 input#val5_5656";

        $(document.body).one("focus", "#s-la-widget-5656", function(){
            console.log("referrer: " + referrer);
            $(urlFormField).val(referrer).change();
        });
    });
</script>
{% endblock %}