<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Faculty Publication Highlights</title>
        
        <!-- All styles are inline -->
        <style>
            table {
                margin: 0;
            }
            td {
                font-family: Arial, Helvetica, sans-serif;
            }
            #link-to-more {
                font-size: .9em;
            }
            h1, h2 { margin: 0;padding:0; font-family: 'Trebuchet MS',Arial;}
            
            h1 { font-style: italic;}
            
            h2 { font-size: 1em;}
            
            a.title-as-link {color: #990000; font-weight: bold; font-style: italic; text-decoration: none;}
            
            .empty-line {line-height: 0;}
            
            td#about-facpub { font-style: italic; font-size: .9em;}
            
            #footer { font-size: .7em;}
            
            .author-title { font-size: .8em;}
        </style>
    </head>

    <body>
        <center>
            <table width="655" border="0" cellpadding="0" cellspacing="0" summary="Faculty Publication Highlights" height="69">
                <tbody>
                    <tr>
                        <td bgcolor="#fff" ><img src="http://www.bc.edu/sites/libraries/facpub/logo.gif" alt="Faculty Publication Highlights logo" height="69" width="650"></td>
                    </tr>      
                </tbody>
            </table>
            <table width="649" border="0" cellpadding="10" cellspacing="0" bgcolor="#F0F0F0" summary="Faculty Publication Highlights">
                <tbody>
                    <tr>
                        <td class="empty-line" colspan="6">&nbsp;</td>
                    </tr>
                    
                    
                    <!-- Information about work -->
                    <tr>
                        <td colspan="1">&nbsp;</td>
                        
                        
                        <td colspan="1" valign="top" bgcolor="#ffffff">
                            
                            
                            <!-- EDIT REQUIRED: Change cover image directory -->
                            <img src="http://www.bc.edu/sites/libraries/facpub/__CURRENT_TEMPLATE__/cover-large.jpg" width="200" height="308">
                            
                            
                            <!-- EDIT REQUIRED: Change Author Name and title -->
                            <strong>GIVENNAME SURNAME</strong><br>
                            <span class="author-title">FACULTY MEMBER TITLE, FACULTY MEMBER SCHOOL OR DEPARTMENT</span>
                        
                        </td>
                        <td colspan="3" valign="top" bgcolor="#ffffff">
                            
                            
                            <!-- EDIT REQUIRED: Change title and description -->
                            <h1>TITLE OF BOOK GOES HERE</h1>
                            <p>DESCRIPTION DESCRIPTION DESCRIPTION AND MORE DESCRIPTION. MAKE SURE TO USE THE <code>.title_as_link</code> CLASS WHEN YOU LINK TO <a href="http://www.bc.edu/facpub/key-thinkers-on-language/" class="title-as-link">THE BOOK'S TITLE</a>. MORE DESCRIPTION MORE DESCRIPTION MORE DESCRIPTION.</p>
                            
                            
                            <!-- EDIT REQUIRED: Change link to interview and faculty member surname -->
                            <p id="link-to-more">
                                <a href="http://www.bc.edu/facpub/__CURRENT_TEMPLATE__/">Interview with Professor SURNAME and more</a> &raquo;
                            </p>
                        </td>
                        <td colspan="1">&nbsp;</td>
                    </tr>
                    
                    
                    <tr>
                        <td class="empty-line" colspan="6">&nbsp;</td>
                    </tr>
                    
                    
                    <!-- Information about Faculty Publication Highlights -->
                    <tr>
                        <td colspan="1">&nbsp;</td>
                        <td colspan="4" id="about-facpub">
                            <p>
                                The Faculty Publication Highlights series features  recent publications by Boston College faculty. While it is likely that monographs will figure largely among these publications, the Libraries are also eager to promote other faculty productions such as significant journal articles, paintings,  musical compositions, and movies.<br />
                            </p>
                            <p>
                                If you have any comments or suggestions for future highlights, please contact <a href="mailto:rappleb@bc.edu">Brendan Rapple</a>, Collection Development Librarian or <a href="bogdanon@bc.edu">Nina Bogdanovsky</a>, Reference & Collection Development Librarian..</p>
                            <p>
                                <a href="http://www.bc.edu/sites/libraries/facpub/archives/index.html">View all highlights</a> &raquo;
                            </p>
                        </td>
                        <td colspan="1">&nbsp;</td>
                    </tr>

                    
                    <!-- Footer -->
                    <tr>
                        <td colspan="6" align="center" id="footer">
                            <span style="color:#821122;">&copy;</span> <a href="http://www.bc.edu/legal/">2014 BOSTON COLLEGE</a> | <a href="http://www.bc.edu/libraries/">BOSTON COLLEGE LIBRARIES</a> | <a href="http://www.bc.edu/sites/libraries/facpub/credits.html">Contact</a> | <a href="http://www.bc.edu/sites/libraries/facpub/archives/index.html">Archives</a> | <a href="http://www.bc.edu/libraries/about/publications/facpub-highlight-feed.rss">Subscribe to RSS Feed</a> <img src="http://www.bc.edu/sites/libraries/facpub/feed-icon.png" alt="Subscribe RSS Feed" width="16" height="16" style="vertical-align: middle;" />
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </center>
    </body>
</html>