    <div class="facpub_archives">
        
        <h2>Past Highlights</h2>

        <!-- START 2018 ARCHIVES -->
        <div class="yearlyblock">

        <h3>2019 Highlights</h3>

           {% for article in articles | has_category(['facpub']) | has_year('2019') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="">
                    <div class="bookinfo">
                        <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}

                    {% if article.second_author %}
                        &#x26; {{ article.second_author}} 
                    {% endif %}

                    {% if article.third_author %}
                    &#x26; {{ article.third_author}} 
                    {% endif %}
                </p></div>

                </div>
            {% endfor %}
        </div>

        <h3>2018 Highlights</h3>

           {% for article in articles | has_category(['facpub']) | has_year('2018') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="">
                    <div class="bookinfo">
                        <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}

                    {% if article.second_author %}
                        &#x26; {{ article.second_author}} 
                    {% endif %}

                    {% if article.third_author %}
                    &#x26; {{ article.third_author}} 
                    {% endif %}
                </p></div>

                </div>
            {% endfor %}
        </div>

        <!-- START 2017 ARCHIVES -->
        <div class="yearlyblock">

        <h3>2017 Highlights</h3>

           {% for article in articles | has_category(['facpub']) | has_year('2017') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="">
                    <div class="bookinfo">
                        <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                    </div>

                </div>
            {% endfor %}
        </div>


        <!-- START 2016 ARCHIVES -->
        <div class="yearlyblock archived">

        <h3>2016 Highlights</h3>

           {% for article in articles | has_category(['facpub']) | has_year('2016') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="">
                    <div class="bookinfo">
                        <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                    </div>

                </div>
            {% endfor %}
        </div>

        <!-- START 2015 ARCHIVES -->
        <div class="yearlyblock archived">

        <h3>2015 Highlights</h3>

            {% for article in articles | has_category(['facpub']) | has_year('2015') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="">
                    <div class="bookinfo">
                        <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                            by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>


    <div class="older_archives">
        <p><em>Here are the <a href="http://www.bc.edu/sites/libraries/facpub/archives/index.html">archives for Faculty Publication Highlights from 2006-2014</a>.</em></p>
    </div>
