{% extends "facpub_base.html" %}
{% block content %}


<div class="row">

{% if articles %}
            {% set count = 0 %}
            {% for article in articles[:15] if article.category == "facpub" and article.oneoff != "yes" %}

                {% set count = count + 1 %}
                {% if count < 2 %}      

    <div class="latest-highlight">
    
        <div class="left">

        <h2>Current Highlight</h2>
            <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">

                <div id="titleauthor">
                    <h3><a href="../{{ article.url }}">{{ article.title }}</a></h3>
                    by {{ article.author_firstname}} {{ article.author_lastname}}
                </div>

                <a href="../{{ article.url }}" class="view-interview"><span class="arrow">View interview and more</span></a>
        </div>

        <div class="right">
            <p>The Faculty Publication Highlights series features recent publications by Boston College faculty. While it is likely that monographs will figure largely among these publications, the Libraries are also eager to promote other faculty productions such as significant journal articles, paintings, musical compositions, and movies.</p>

            <p>If you have any comments or suggestions for future highlights, please contact <a href="mailto:leslie.homzie@bc.edu">Leslie Homzie</a>, Collection Development Librarian.</p>


        </div>

    </div>

</div>


                {% endif %}
          
            {% endfor %}
{% endif %}


<div class="facpub_archives">

<h2>Past Highlights</h2>

<!-- START 2016 ARCHIVES 
<h3>2016 Highlights</h3>

{% if articles %}
            {% set count = 0 %}
            {% for article in articles[:100] if article.category == "facpub" and article.oneoff != "yes" %}

                {% if article.date|strftime('%Y') == "2016" %}

                    {% set count = count + 1 %}
                    {% if count < 100 %}  

            <div class="old_facpub">

                <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">
                <div class="bookinfo">
                <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                    by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                </div>
                                
            </div>
                
                   {% endif %}

                {% endif %}
          
            {% endfor %}
{% endif %}-->

<!-- START 2015 ARCHIVES -->
<h3>2015 Highlights</h3>

{% if articles %}
            {% set count = 0 %}
            {% for article in articles[:100] if article.category == "facpub" and article.oneoff != "yes" %}

                {% if article.date|strftime('%Y') == "2015" %}

                    {% set count = count + 1 %}
                    {% if count < 100 %}  

            <div class="old_facpub">

                <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">
                <div class="bookinfo">
                <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                    by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                </div>
                                
            </div>
                
                   {% endif %}

                {% endif %}
          
            {% endfor %}
{% endif %}
</div>

<div class="older_archives">
    <p><em>Here are the <a href="http://www.bc.edu/sites/libraries/facpub/archives/index.html">archives for Faculty Publication Highlights from 2006-2014</a>.</em></p>
</div>

{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}