{% extends "facpub_base.html" %}
{% block content %}


<div class="row">

{% if articles %}
            {% set count = 0 %}
            {% for article in articles[:15] if article.category == "facpub" %}

                {% set count = count + 1 %}
                {% if count < 2 %}      

    <div class="latest-highlight">
    
        <div class="left">

        <h2>Current Highlight</h2>
            <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">

                <div id="titleauthor">
                    <h3><a href="../{{ article.url }}">{{ article.title }}</a></h3>
                    by {{ article.author_firstname}} {{ article.author_lastname}}
                </div>

                <a href="../{{ article.url }}" class="view-interview"><span class="arrow">View interview and more</span></a>
        </div>

        <div class="right">
            <p>The Faculty Publication Highlights series features recent publications by Boston College faculty. While it is likely that monographs will figure largely among these publications, the Libraries are also eager to promote other faculty productions such as significant journal articles, paintings, musical compositions, and movies.</p>

            <p>If you have any comments or suggestions for future highlights, please contact <a href="mailto:rappleb@bc.edu">Brendan Rapple</a>, Collection Development Librarian or <a href="mailto:bogdanon@bc.edu">Nina Bogdanovsky</a>, Reference & Collection Development Librarian.</p>


        </div>

    </div>


</div>

<div class="facpub_archives">

<h2>Past Highlights</h2>

<h3>2015 Highlights</h3>

    {% else %} 
                
            <div class="old_facpub">

                <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">
                <div class="bookinfo">
                <p><a href="../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                    by {{ article.author_firstname}} {{ article.author_lastname}}</p>
                </div>
                                
            </div>
                
                {% endif %}
          
            {% endfor %}
{% endif %}

</div>

{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}