    <div class="facpub_archives">
        
        <!-- START ARCHIVES -->
        <div class="yearlyblock">

        <h3>Recent Highlights</h3>

            {% for article in articles | has_category(['facpub']) | has_year('2019') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">
                    <div class="bookinfo">
                        <p><a href="../../../../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}

                    {% if article.second_author %}
                        &#x26; {{ article.second_author}} 
                    {% endif %}

                    {% if article.third_author %}
                        &#x26; {{ article.third_author}} 
                    {% endif %}
                    </p></div>

                </div>
            {% endfor %}

<!-- REMOVE 2018 RECENT POSTS AFTER SPRING 2019 SEMESTER -->
           {% for article in articles | has_category(['facpub']) | has_year('2018') | not_oneoff %}
                <div class="old_facpub">

                    <img src="/theme/img/facpub/{{ article.bookcover }}" alt="{{ article.image_alt }}">
                    <div class="bookinfo">
                        <p><a href="../../../../{{ article.url }}"><em>{{ article.title }}</em></a> <br />
                          {{ article.by }} by {{ article.author_firstname}} {{ article.author_lastname}}

                    {% if article.second_author %}
                        &#x26; {{ article.second_author}} 
                    {% endif %}

                    {% if article.third_author %}
                        &#x26; {{ article.third_author}} 
                    {% endif %}
                    </p></div>

                </div>
            {% endfor %}
        </div>

    </div>