{% extends "base.html" %}
{% block content %}

 <h2>Library News</h2>


<!-- SECOND ROW, NEWS ROW -->
<div class="row newsrow">
    
<!-- THUMBNAILS ARE 230xp x 230p. NEWS WILL ONLY REQUIRE A THUMBNAIL AND WILL LINK DIRECTLY TO AN EVENT, PAGE, OR EXHIBIT. -->
                    
            {% if articles %}
<ul>            
            {% set count = 0 %}
            {% for article in articles[:50] if article.category|selectattr("news", "announcements") %}


            {% if article.date|strftime('%Y') == "2015" %}

                {% set count = count + 1 %}
                {% if count < 50 %}
                          
                <li class="{{ article.onhomepage }}">
                    <div class="newsitem">
                        <a href="{{ article.destination }}">
                        <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">
                        
                        <div class="newstext {{ article.showtext }}">
                            <p class="newslink">{{ article.title }}</a> </p>
                            <p><em> {{ article.date|strftime('%B %d, %Y') }} </em> </p>
                        </div>
                        </a>
                    </div>
                </li>
            {% endif %}
                {% endif %}
            {% endfor %}


</ul>            
            {% endif %}
        


</div>



{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}