{% extends "base.html" %}
{% block content %}

    <ol class="breadcrumb" id="s-lib-bc-list">
        <li id="s-lib-bc-customer">
        <a href="http://library.bc.edu" title="Libraries">Libraries
        </a>
        </li>
        <li id="s-lib-bc-site">
        <a href="http://library.bc.edu/exhibits" title="Library Exhibits">Library Exhibits
        </a>
        </li>
    </ol>

<div id="exhibit">

    <div class="blackband">
        <div class="bandcenter">
            <h2>Exhibits at Boston College Libraries</h2>
            <p>Exhibits in the Boston College Libraries will advance discovery of library resources by highlighting connections between our collections and academic and community life at BC. The Libraries welcome partnerships with the Boston College community and other institutions, groups, or individuals to create thoughtful and attractive exhibits. Successful exhibit proposals will be in strong alignment with the mission and collections of the Libraries.</p>
        </div>
    </div>

    <div class="latest_exhibit">

        <div class="left">
            <h3>Gallery Spaces</h3>

            <ul>
                <li><a href="./bapst">Bapst Library</a></li>
                <li><a href="./burns">Burns Library</a></li>
                <li><a href="./tml">Theology and Ministry Library </a></li>
                <li><a href="./lvl1">O'Neill Level One</a></li>
                <li><a href="./lvl3">O'Neill Level Three</a></li>
                <li><a href="./readingroom">O'Neill Reading Room</a></li>
                <li><a href="./backwall">O'Neill Reading Room Back Wall</a></li>
                <li><a href="./lobby">O'Neill Lobby</a></li>
                <li><a href="./stokes">History Dept, Stokes Hall</a></li>
            </ul>
        </div>

        <div class="right">
            <h3>Latest Exhibits</h3>

<!-- PROBABLY SHOULD REORDER THE LIBRARIES TO BE IN ALPHA ORDER. -->
    <ul>
            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "burns" %}
                            <!-- BURNS LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>Burns Library</h4>
                                    <p>Click here for <a href="./bapst">Burns Library Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/burns/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                            {% endif %}                        
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "tml" %}
                            <!-- TML LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>Theology & Ministry Library</h4>
                                    <p>Click here for <a href="./tml">Theology & Ministry Library Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/tml/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}                        
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "lvl1" %}
                            <!-- O'NEILL LEVEL ONE LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>O'Neill Level One Gallery</h4>
                                    <p>Click here for <a href="./lvl1">O'Neill Level One Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/oneilllevelone/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}                       
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}


            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                           {% if article.location == "lvl3" %}
                            <!-- O'NEILL LEVEL THREE LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>O'Neill Level Three Gallery</h4>
                                    <p>Click here for <a href="./lvl3">O'Neill Level Three Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/oneilllevelthree/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}          
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                          
                            {% if article.location == "reading" %}
                            <!-- O'NEILL READING ROOM LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>O'Neill Reading Room</h4>
                                    <p>Click here for <a href="./reading">O'Neill Reading Room Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/oneillreadingroom/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}         
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                            {% if article.location == "backwall" %}
                            <!-- O'NEILL READING ROOM BACK WALL LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>O'Neill Reading Room Back Wall</h4>
                                    <p>Click here for <a href="./backwall">Reading Room Back Wall Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/oneillreadingroombackwall/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}        
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  
                         
                            {% if article.location == "lobby" %}
                            <!-- O'NEILL LEVEL 3 LOBBY LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>O'Neill Library Lobby</h4>
                                    <p>Click here for <a href="./lobby">O'Neill Library Lobby Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/oneilllobby/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}        
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

            {% if articles %}
                {% set count = 0 %}
                {% for article in articles[:100] if article.category == "exhibits" and article.active == "yes" %}

                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  
                         
                            {% if article.location == "stokes" %}
                            <!-- HISTORY DEPT, STOKE HALL LATEST EXHIBIT -->
                                <li class="holder">

                                    <div class="holdhead">
                                    <h4>History Dept, Stokes Hall</h4>
                                    <p>Click here for <a href="./stokes">History Dept, Stokes Hall Archives</a></p>
                                    </div>

                                    <div class="frame">
                                        <a href="../{{ article.url }}">
                                        <img src="/theme/img/exhibits/stokes/{{ article.image_thumb}}" alt="{{ article.image_alt }}">
                                        
                                        <div class="info">
                                            <p class="date">{{ article.date_range }}</p>
                                            <p class="title">{{ article.title }}</p>
                                        </div>   
                                        </a>   
                                    </div>                       

                                </li>
                                                     
                            {% endif %}      
                        {% endif %}
                                  
                {% endfor %}
            {% endif %}

    </ul>

<!-- END GALLERY -->

<!-- AREA FOR PERMANENT EXHIBITS, TIP O'NEILL AND VIRTUAL. LEAVING THIS HERE UNTIL SECTIONS ARE BUILT -->

<div class="above_footer">
<hr />
    <h4>Interested in using library space for an exhibit?</h4>
    <p> See our <a href="./spaces">exhibit spaces page</a> for descriptions and contact information.</p>
</div>

<!-- POST NO CONTENT BEYOND THESE HERE POINT -->
        </div>

    </div>

</div>
{% endblock %}

{% block pagescripts %}
    
<script src="/theme/js/bc-home-chosen.js?version=0.0.1"></script>
{% endblock %}