<div class="col-md-4">
    <h3><a href="http://libguides.bc.edu/az.php">Databases</a></h3>
    <div class="list-group">
        <a href="https://proxy.bc.edu/login?url=http://find.galegroup.com/itx/start.do?prodId=AONE&userGroupName=mlin_m_bostcoll" class="list-group-item">Academic OneFile​</a>
        <a href="https://proxy.bc.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=advance&defaultdb=rfh" class="list-group-item">ATLA Religion Database ​</a>
        <a href="https://proxy.bc.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=bsi" class="list-group-item">Business Source Complete</a>
        <a href="https://proxy.bc.edu/login?url=http://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=cin&defaultdb=jlh" class="list-group-item">CINAHL​</a>
        <a href="https://proxy.bc.edu/login?url=http://www.jstor.org/action/showAdvancedSearch" class="list-group-item">JSTOR​</a>
        <a href="https://proxy.bc.edu/login?url=https://search.proquest.com/psycinfo/advanced?" class="list-group-item">PscyINFO​</a>
    </div>
            <!--<a href="http://libguides.bc.edu/az.php" class="btn btn-gold">All ​d​atabases</a>-->
</div>