<div class="col-md-3 col-sm-6 col-xs-6 col-xxs">
    <h2><a href="https://libguides.bc.edu/az.php">Databases</a></h2>
    <a href="https://libguides.bc.edu/az.php" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> See all databases</a>
    <div class="list-group popular">
        <h3 class="list-label">Popular</h3>
        <a href="https://proxy.bc.edu/login?url=http://find.galegroup.com/itx/start.do?prodId=AONE&userGroupName=mlin_m_bostcoll" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Academic OneFile​</a>
        <a href="https://proxy.bc.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=advance&defaultdb=rfh" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> ATLA Religion Database ​</a>
        <a href="https://proxy.bc.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=bsi" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Business Source Complete</a>
        <a href="https://proxy.bc.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,uid&profile=cin&defaultdb=jlh" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> CINAHL​</a>
        <a href="https://proxy.bc.edu/login?url=https://www.jstor.org/action/showAdvancedSearch" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> JSTOR​</a>
        <a href="https://proxy.bc.edu/login?url=https://search.proquest.com/psycinfo/advanced?" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> PsycINFO​</a>
    </div>
</div>