<!-- DS HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Digital Scholarship at the BC Libraries</h2>
<div class="rightBottom" id="ds-highlight">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <h3><a href="https://moralesmassbook.bc.edu/">Morales Mass Book</a></h3>
                    <p>Morales Mass Book is an open-access companion site to the First Book of Masses by Cristóbal de Morales (ca. 1550-1553), a Spanish composer at the Papal chapel in Rome. This site explores the Missarum liber primus (Lyon: Moderne, 1546) focusing on the composer, the printer, and the processes that informed the composition of four of Morales’s polyphonic masses.</p>
                    <br/>
                    <p><a href="https://ds.bc.edu"><span class="btn btn-default btn-blue">See more digital scholarship</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->