<!-- DS HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Digital Scholarship at the BC Libraries</h2>
<div class="leftTop" id="ds-highlight">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <h3><a href="http://burnsantiphoner.bc.edu/">Burns Antiphoner</a></h3>
                    <p>Using an early 14th-century Franciscan antiphoner from the collection of Boston College's Burns Library, this digital research presents and contextualizes the medieval liturgical manuscript anew for both scholarly and general audiences.</p>
                    <br/>
                    <p><a href="https://ds.bc.edu"><span class="btn btn-default btn-blue">See more Digital Scholarship</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->