<!-- EXHIBIT HIGHLIGHT START -->

<!-- FUTURE NOTES, ADD SLIDER AND OTHER EXHIBITS -->

<div class="container-fluid" id="exhibit-highlight">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

	{% if articles %}
                {% set count = 0 %}
                {% for article in articles if article.category.name == "exhibits" and article.active == "yes" %}
                    
                        {% set count = count + 1 %}
                        {% if count < 100 %}  

                            {% if article.location == "lvl1" %}
                            <!-- LEVEL ONE LATEST EXHIBIT -->

                            <div class="content exhibit-box" >
                            	<h2>Exhibits</h2>

                            	<div class="row">
	                            	<div class="exhibit-left col-md-9 col-sm-9 col-xs-8">

	                            		<a href="../{{ article.url }}" id="current-exhibits-title">{{ article.title }}</a>
										<p>{{ article.content|truncate(140, False, '...') }}</p>
										<br />
										<p><a href="#"><span class="btn btn-default btn-gold">Learn more</span></a></p>

									</div>

									<div class="exhibit-right col-md-3 col-sm-3 col-xs-4">
										
										<img src="/theme/img/exhibits/{{ article.location }}/{{ article.image }}" alt="{{ article.image_alt }}" class="exhibit-poster">

									</div>
								</div>
							</div>

                           
                            {% endif %}                        
                        {% endif %}
                                  
               {% endfor %}
	{% endif %}







            </div>
        </div>
    </div>
</div>
<!-- EXHIBIT HIGHLIGHT END -->