<!-- FACPUB START -->
<div class="container" id="facpub">
    <div class="row">
        
        <div class="col-md-12">
            <h2><a href="/facpub/">Faculty Publication Highlights</a></h2>
        </div>
        
        <div class="col-md-5 col-sm-5 col-xs-12">

    {% for facpub in articles | current_facpubs(1) %}

            <h3><a href="http://library.bc.edu/{{ facpub.url }}">{{ facpub.title }}</a></h3>
                <p>By {{ facpub.author_firstname}} {{ facpub.author_lastname}}<br/>
                    <em>{{ facpub.author_position }}</em>
                </p>

        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="{{ facpub.youtube }}" frameborder="0" allowfullscreen title="Interview with author"></iframe>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <p class="more-link"><a href="https://library.bc.edu/{{ facpub.url }}">Read more about <em>{{ facpub.title }}</em> <i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a></p>

    {% endfor %}  

        </div>       

    </div>
</div>
<!-- FACPUB END -->