<!-- HEADER START -->
{% include 'megamenu.html' %}

<div id="header">
    <div class="container">
        <h1 id="main-heading" class="sr-only sr-only-focusable">Main content</h1>
        {% include 'homepage/search-box.html' %}
        <div class="caption-link" id="hero" data-tag="ga-tag">
            <!--<a href="http://libguides.bc.edu/bapst">Portion from the Bapst Illuminating Stained Glass</a>-->
            Summer scenery outside Bapst Library, <a href="http://www.bc.edu/offices/omc/">courtesy Office of University Communications.</a>
        </div>
        {% include 'homepage/notice.html' %}
    </div>
</div>
<!-- HEADER END -->
