<!-- HEADER START -->
<div class="megamenu-container">
    {% include 'megamenu.html' %}
</div>
<div id="header">
    <div class="container">
        <h1 id="main-heading" class="sr-only sr-only-focusable">Main content</h1>
        {% include 'homepage/search-box.html' %}
        <div class="row caption-link">
            <div class="col-md-12">Students process down the Higgins steps, May 2013, <a href="http://www.bc.edu/offices/omc/"> courtesy Office of University Communications</a></div>
        </div>
        {% include 'homepage/notice.html' %}
    </div>
</div>
<!-- HEADER END -->