<!-- HEADER START -->
{% include 'megamenu.html' %}

<div id="header">
    <div class="container">
        <h1 id="main-heading" class="sr-only sr-only-focusable">Main content</h1>
        {% include 'homepage/search-box.html' %}
        <div class="caption-link">
            Boston Gas Company workers [1888?] (<a class="hero-source" href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81488931740001021">Boston Gas Company Collection</a>)
        </div>
        {% include 'homepage/notice.html' %}
    </div>
</div>
<!-- HEADER END -->