<div id="hours-container" class="col-md-4">
    <h3><a href="http://libguides.bc.edu/hours">Hours</a></h3>
    <div class="hours-link"><a href="http://libguides.bc.edu/hours"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> See all hours</a></div>
    <div class="table-responsive table-hours">
        <table class="table table-condensed table-bordered">
            <caption class="accessibility-text">Today's Library Hours</caption>
            <thead class="accessibility-text">
                <tr>
                    <th>Library</th>
                    <th>Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://libguides.bc.edu/oneill/hours">O'Neill Library</a></td>
                    <td class="lib-hours lib-oneill">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td><a href="http://libguides.bc.edu/bapst/hours">Bapst Library</a></td>
                    <td class="lib-hours lib-bapst"></td>
                </tr>
                <tr>
                    <td><a href="http://libguides.bc.edu/burns">Burns Library</a></td>
                    <td class="lib-hours lib-burns"></td>
                </tr>
                <tr>
                    <td><a href="http://libguides.bc.edu/erc/hours">Educational Research Center</a></td>
                    <td class="lib-hours lib-erc"></td>
                </tr>
                <tr>
                    <td><a href="http://www.bc.edu/bc-web/schools/law/sites/current-students/library/using/hours.html">Law Library</a></td>
                    <td class="lib-hours lib-law"></td>
                </tr>
                <tr>
                    <td><a href="http://libguides.bc.edu/socialwork/hours">Social Work Library</a></td>
                    <td class="lib-hours lib-swl"></td>
                </tr>
                <tr>
                    <td><a href="http://libguides.bc.edu/tml/hours">Theology &amp; Ministry Library</a></td>
                    <td class="lib-hours lib-tml"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--div class="button-wrap">
        <a href="http://libguides.bc.edu/hours" class="btn btn-gold">All Library Hours</a>
    </div-->
</div>