<!-- NEWS START -->
<div class="container" id="news">

    <div class="row">

        <div class="col-md-12">
            <h3>
                <a href="">News</a>
            </h3>
        </div>

       {% for article in articles | most_recent_news(4) %}

        <div class="col-md-3">

            {% if article.image_thumb %}

            {# article with image #}
            <a href="{{ article.destination }}" id="{{ article.slug }}">
                <div class="newsitem">
                    <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">
                    <p class="newslink">{{ article.title }}</p>
                </div>
            </a>

            {% else %}

            {# announcement without image #}
            <div class="announcement">
                <p class="newslink"><a href="{{ article.destination }}" id="{{ article.slug }}">{{ article.title }}</a></p>
                <p class="">
                    {{ article.summary }}
                </p>
            </div>

            {% endif %}

        </div>

        {% endfor %}
    </div>

</div>
<!-- NEWS END -->