<!-- NEWS START -->
<div class="container" id="news">

    <div class="row">

        <div class="col-md-12">
            <h3>
                <a href="">News</a>
            </h3>
        </div>

        {% for article in articles[:20] if article.category.name == "news" and article.expired != "yes" %}

        {% if loop.index <= 4 %}
        <div class="col-md-3">

            {% if article.destination %}
            {% set url=article.destination %}
            {% else %}
            {% set url=article.url %}
            {% endif %}

            {% if article.image_thumb %}

            {# article with image #}
            <a href="{{ url }}" id="{{ article.slug }}">
                <div class="newsitem">
                    <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">
                    <p class="newslink">{{ article.title }}</p>
                </div>
            </a>

            {% else %}

            {# announcement without image #}
            <div class="announcement">
                <p class="newslink"><a href="{{ url }}" id="{{ article.slug }}">{{ article.title }}</a></p>
                <p class="">
                    {{ article.summary }}
                </p>
            </div>

            {% endif %}

        </div>
        {% endif %}

        {% endfor %}
    </div>

</div>
<!-- NEWS END -->