<div class="col-md-3 col-sm-6 col-xs-6 col-xxs">
    
    <h2>Quick Links</h2>

    <div class="list-group">
        <a href="https://libguides.bc.edu/ask-a-librarian" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Ask a Librarian</a>
        <a href="https://arc.bc.edu/reserves" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Course Reserves ​</a>
        <a href="https://libcal.bc.edu/booking/oneill" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Find a Study Room</a>
        <a href="https://illiad.bc.edu/illiad/bxm/logon.html" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Interlibrary Loan</a>
        <a href="https://libguides.bc.edu/refworks-login" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> RefWorks</a>
        <a href="https://bc.on.worldcat.org/" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> WorldCat</a>
    </div>
</div>