<!-- QUICK LINKS START -->
<div class="container-fluid" id="quick-links">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="#">Study Rooms</a>
                <p>Reserve a study room in O'Neill Library</p>
            </div>
            <div class="col-md-2">
                <a href="#">Ask A Librarian</a>
                <p>Get help with your research</p>
            </div>
            <div class="col-md-2">
                <a href="#">Interlibrary Loan</a>
                <p>Request books, articles, and more from other libraries</p>
            </div>
            <div class="col-md-2">
                <a href="#">Worldcat</a>
                <p>Search libraries worldwide</p>
            </div>
            <div class="col-md-2">
                <a href="#">Course Reserves</a>
                <p>Find readings for your classes</p>
            </div>
            <div class="col-md-2">
                <a href="#">Refworks</a>
                <p>Save and manage citations</p>
            </div>
        </div>
    </div>
</div>
<!-- QUICK LINKS END -->