<!-- QUICK LINKS START -->
<div class="container-fluid" id="quick-links">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="http://libcal.bc.edu/booking/oneill">Study Rooms</a>
                <p>Reserve a study room in O'Neill Library</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="http://libguides.bc.edu/ask-a-librarian">Ask A Librarian</a>
                <p>Get help with your research</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="https://illiad.bc.edu/illiad/bxm/logon.html">Interlibrary Loan</a>
                <p>Request books, articles, and more from other libraries</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="https://bc.on.worldcat.org/">Worldcat</a>
                <p>Search libraries worldwide</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="http://arc.bc.edu/reserves">Course Reserves</a>
                <p>Find readings for your classes</p>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <a href="http://libguides.bc.edu/refworks-login">Refworks</a>
                <p>Save and manage citations</p>
            </div>
        </div>
    </div>
</div>
<!-- QUICK LINKS END -->