<!-- QUICK LINKS -->
<div class="col-md-2 col-xs-12 ql">
    
    <h2>Quick Links</h2>

    <ul class="list-group" id="quicklinks" data-tag="ga-tag">
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
        <li><a href="#" class="list-group-item">
            <i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i>FILL</a>
        </li>
     </ul>
</div>

<!-- NEWS START -->

<div class="container col-md-10" id="news" data-tag="ga-tag">

<h2>News & Events</h2>

    <div class="row notop news-top">

       {% for article in articles | most_recent_news(2) %}

            {% if article.image_thumb and article.expired != "yes" %}

            {# article with image #}

        <div class="col-xs-12 col-md-6 news-content">

                <a href="{{ article.destination }}" id="{{ article.slug }}">
                    
                    <div class="newsitem">                        

                        <div class="newstext">
                                <p class="newslink">{{ article.title }}</p>
                        </div>
                        
                        <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">

                    </div>
                </a>

        </div>

        {% endif %} 

        {% endfor %}
    
    </div>

    <div class="row news-bottom">
        {% for article in articles | most_recent_news(6) %}

        {% if article.image_thumb and article.expired != "yes" %}

        {# article with image #}

                <div class="col-xs-12 col-md-6 news-content">

                        <a href="{{ article.destination }}" id="{{ article.slug }}">
                            
                            <div class="newsitem">                        

                                <div class="newstext">
                                        <p class="newslink">{{ article.title }}</p>
                                </div>
                                
                                <img src="/theme/img/news/{{ article.image_thumb }}" alt="{{ article.image_alt }}">

                            </div>
                        </a>

                </div>

        {% endif %} 

        {% endfor %}
    </div>

    <div class="more-news"><a href="/news">See all news  <i class="fa fa-lg fa-long-arrow-right" aria-hidden="true"></i></a></div>
</div>
<!-- NEWS END -->