<!-- SCHOLARSHIP-AT-BC START -->
<div class="container" id="scholarship" data-tag="ga-tag">
    <div class="row">
        <div class="col-md-12"><h2>Scholarship at BC</h2></div>
        <div class="col-md-6 col-sm-6">
            <h3><a href="http://escholarship.bc.edu/">eScholarship@BC</a></h3>
            <p>A repository of the scholarly and creative work of Boston College</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <h3><a href="https://www.bc.edu/dataverse">Dataverse</a></h3>
            <p>A place for BC researchers to share, preserve, explore, and analyze their research data</p>
        </div>
    </div>
</div>
<!-- SCHOLARSHIP-AT-BC END -->