<div id="beta-container" class="row">

    {% include 'homepage/library-beta-button.html' %}

    <div class="col-md-10 col-md-offset-1" id="search-panel" data-tag="ga-tag">
        <div class="row">
            <div class="col-md-12">
                <form action="/search">
                    <div class="input-group">
                        <label for="lib-search-box" class="sr-only">Search</label>
                        <input class="form-control" name="any" placeholder="Search for books, articles, journals, databases" id="lib-search-box">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i> <span class="search-button-text">Search</span></button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="search-links">
            <div class="col-sm-2 col-sm-offset-1">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=bclib_new&lang=en_US&sortby=rank" class="search-link book-search-link">Books</a>
            </div>
            <div class="col-sm-2">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?tab=pci_only&vid=bclib_new&sortby=rank" class="search-link  article-search-link">Articles</a>
            </div>
            <div class=" col-sm-2">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/jsearch?vid=bclib_new&lang=en_US" class="search-link journal-search-link">Journals</a>
            </div>
            <div class="col-sm-2">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?tab=video&search_scope=VIDEO&vid=bclib_new&sortby=rank" class="search-link video-search-link">Video</a>
            </div>
            <div class="col-sm-3">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?mode=advanced&vid=bclib_new&lang=en_US&sortby=rank" class="advanced-search-link">Advanced search</a>
            </div>
        </div>
    </div>
</div>