<div class="row">
    <div class="col-md-10 col-md-offset-1" id="search-panel">
        <div class="row">
            <div class="col-md-12">
                <form action="/search">
                    <div class="input-group">
                        <input class="form-control" name="any" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" id="search-links">
            <div class="col-md-2 col-md-offset-2">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=bclib_new&lang=en_US&sortby=rank">Books</a>
            </div>
            <div class="col-md-2">
                <a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/search?tab=pci_only&vid=bclib_new&sortby=rank">Articles</a>
            </div>
            <div class="col-md-2">
                <a href="http://bclib.bc.edu/a-to-z">Journals</a>
            </div>
            <div class="col-md-3">
                <a href="http://bclib.bc.edu/advanced-search">Advanced search</a>
            </div>
        </div>
    </div>
</div>