<!-- SPECIAL COLLECTIONS HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Special collections</h2>
<div class="leftBottom" id="digcol-highlight" data-tag="ga-tag">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <h3><a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81482909060001021">Boston College Japanese prints collection</a></h3>
                    <p>View a portion of our collection of 18th - 20th century Japanese woodblock prints (MS.2013.043)</p>
                    <br/>
                    <p><a href="https://bc-primo.hosted.exlibrisgroup.com/primo-explore/collectionDiscovery?vid=bclib_new&inst=BCL&collectionId=81482909060001021"><span class="btn btn-default btn-blue">See more from our special collections</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SPECIAL COLLECTIONS HIGHLIGHT END -->