<!-- SPECIAL COLLECTIONS HIGHLIGHT START -->
<div class="leftBottom" id="digcol-highlight">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                <div class="content">
                    <h3><a href="http://bclsco.bc.edu/?f%5Bmods_relatedItem_type_host_collectionFacet_ms%5D%5B%5D=Boston+College+athletic+photographs">Boston College athletic photographs</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <br/>
                    <p><a href="http://bclsco.bc.edu/"><span class="btn btn-default btn-gold">See more from our special collections</span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SPECIAL COLLECTIONS HIGHLIGHT END -->