<div class="col-md-3 col-sm-6 col-xs-6 col-xxs">
    <h2><a href="https://libguides.bc.edu/research_guides">Start your research</a></h2>
    <div class="list-group">
        <a href="https://libguides.bc.edu/research_guides" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Research guides​</a>
        <a href="https://libguides.bc.edu/subjects/course-guides" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Course guides​</a>
        <a href="https://libguides.bc.edu/catalog-help" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Using the library catalog​</a>
        <a href="https://libguides.bc.edu/database-basics" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Using databases​</a>
        <a href="https://libguides.bc.edu/core-skills-videos" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Core skills videos​</a>
    </div>
</div>