<div class="col-md-4 col-sm-6 col-xs-6 col-xxs">
    <h2><a href="http://libguides.bc.edu/research_guides">Start your research</a></h2>
    <div class="list-group">
        <a href="http://libguides.bc.edu/research_guides" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Research guides​</a>
        <a href="http://libguides.bc.edu/subjects/course-guides" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Course guides​</a>
        <a href="http://libguides.bc.edu/catalog-help" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Using the library catalog​</a>
        <a href="http://libguides.bc.edu/periodicals" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Finding scholarly journals​</a>
        <a href="http://libguides.bc.edu/core-skills-videos" class="list-group-item"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i> Core skills videos​</a>
    </div>
    <!--div class="button-wrap">
        <a href="http://libguides.bc.edu/az.php" class="btn btn-gold">All Research Guides</a>
    </div-->
</div>