<div id="storybox" class="col-md-6 col-sm-12 col-xs-12 col-xxs" data-tag="ga-tag">
    <div class="row">

        <div class="col-md-10 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 col-xxs story-display">

            {% for story in articles | current_stories(4) %}
            <figure class="sr-only story" id="story-{{loop.index}}">
                <a href="{{ story.destination }}">
                    <img src="/theme/img/stories/{{ story.image }}" alt="" aria-hidden="true" role="presentation"/>
                    <figcaption>{{ story.title }}</figcaption>
                </a>
            </figure>

            {% endfor %}

        </div>

        <div class="col-md-2 story-selectors" aria-hidden="true" role="presentation">

            {% for story in articles | current_stories(4) %}
            <img class="selector" src="/theme/img/stories/{{ story.selector_img }}" alt="thumbnail" data-story="story-{{ loop.index }}"/>
            {% endfor %}

        </div>
    </div>
</div>