<!-- DS HIGHLIGHT START -->
<h2 class="sr-only sr-only-focusable">Congratulations Interlibrary Loan</h2>
<div class="rightBottom" id="ds-highlight" data-tag="ga-tag" style="background: url(/theme/img/news/2019-03/ill_balloons.png) no-repeat 50% 50% #101010 !important; height: 350px; margin-bottom: 25px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
                <div class="content" style="background: rgba(255,255,255,0.80) !important; color: #000; display: table;padding: 40px 40px; max-width: 85%; margin: auto; -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);">
                    <h3><a href="https://libguides.bc.edu/interlibrary-loan" style="color: #000 !important; border-bottom: #000 !important;">Congratulations!</a></h3>
                    <p>Congratulations Interlibrary Loan on receiving <strong>1 Million</strong> Requests!</p>
                    <br/>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- DS HIGHLIGHT END -->